<!-- Signup -->

<% meta_title 'Sign up' %>
<% css_assets 'account' %>
<% js_assets 'forms' %>

<div class="site_wrap wrap">
  <h2>Sign up</h2>
  <%= form_for resource, :name => resource_name, :url => registration_path(resource_name), :builder => CustomFormBuilder do |f| %>
    <fieldset>
      <input type='hidden' name='invitation' value="<%=params[:invitation]%>"/>
      <div>
        <%= f.label :email, 'Email <abbr class="required" title="required">*</abbr>' %>
        <%= f.text_field :email, :'data-type' => "email", :maxlength => 255, :required => "required", :autocomplete => "on", :autofocus => "on", :placeholder => "stelio@webdoc.com" %>
      </div>
    </fieldset>
    
    <fieldset>
      <div>
        <%= f.label :first_name, 'First name <abbr class="required" title="required">*</abbr>' %>
        <%= f.text_field :first_name, :maxlength => 255, :required => "required", :autocomplete => "on", :placeholder => "Stelio" %>
      </div>
      <div class="stack column two of-four">
        <%= f.label :last_name, 'Last Name <abbr class="required" title="required">*</abbr>' %>
        <%= f.text_field :last_name, :maxlength => 255, :required => "required", :autocomplete => "on", :placeholder => "Tzonis" %>
      </div>
    </fieldset>
    
    <fieldset>
      <div>
        <%= f.label :username, 'Username <abbr class="required" title="required">*</abbr>' %>
        <%= f.text_field :username, :maxlength => 255, :required => "required", :autocomplete => "on", :placeholder => "stelman" %>
      </div>
      <div class="stack column two of-four">
        <%= f.label :password, 'Password <abbr class="required" title="required">*</abbr>' %>
        <%= f.password_field :password, :maxlength => 255, :minlength => 6, :required => "required", :autocomplete => "off" %>
      </div>
    </fieldset>
    
    <div>
      <div class="column one triple of-four">
        <p><strong>webdoc</strong> is currently an early alpha release. Very few people know about it yet, and we'd like to keep it that way, so by signing up for <strong>webdoc</strong>, you agree to keep the fun to yourself for the time being, meaning that:</p>
        <ul>
          <li>You treat it as confidential &mdash; you won't blog, tweet, or otherwise tell people about <strong>webdoc</strong></li>
          <li>You can play with <strong>webdoc</strong> as much as you want but you <em>won't</em> demo it to other people without our permission</li>
          <li>You <em>cannot</em> invite people to sign up, and you <em>won't</em> share your password(s)</li>
          <li>You <em>will have lots of fun!</em></li>
        </ul>
        <p style="margin-bottom: 1.6667em;">Thanks. Together we're going to create a stonking web app.</p>
        <label for="user_terms_of_service" style="margin-bottom: 1.6667em; display: block;">
          <%= f.check_box :terms_of_service %>
          Please confirm you have read and understood the conditions above
        </label>
      </div>
    </div>
    <input id="user_submit" name="commit" type="submit" value="Sign up">
  <% end %>
</div>