<!-- views/followships/index -->
<div class="action-zone zone">
  <div class="wrap">
  </div>
</div>
<div class="content">
  <div class="wrap">
    <div class="column one double of-four">
      <h2>
        <span id="contactscount"><%= @user.following.length %></span> <%= t('.contacts')%>
      </h2>
      <ul id="contacts" class="vertical index">
        <% @user.following.each do |user|%>
        <li>
          <%= render :partial => "card", :locals => { :user => user, :subscribed => user.follower?(current_user) } %>
        </li>
        <% end%>
      </ul>
    </div><!-- spaceless
 --><div class="column last double of-four">
      <h2>
        <span id="followerscount"><%= @user.followers.length %></span> <%= t('.subscribe_to_me')%>
      </h2>
      <ul id="followers" class="vertical index">
        <% @user.followers.each do |user|%>
        <li>
          <% if user.follower?(current_user) %>
            <%= render :partial => "card", :locals => { :user => user } %>
          <% else %>
            <%= render :partial => "card", :locals => { :user => user, :subscribed => user.follower?(current_user) } %>
          <% end %>
        </li>
        <% end%>
      </ul>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= include_javascripts :contacts %>
<% end %>