<% if !Rails.env.production? %><!-- inspector panel --><% end %>

<div id="item_inspector" class='inspector_panel panel'>
  <%= render :partial => 'documents/inspectors/text_inspector' %>
  <%= render :partial => 'documents/inspectors/textbox_inspector' %>
  <%= render :partial => 'documents/inspectors/draw_inspector' %>
  <%= render :partial => 'documents/inspectors/widget_inspector' %>
  <%= render :partial => 'documents/inspectors/empty_inspector' %>
  <%= render :partial => 'documents/inspectors/html_inspector' %>
  <%= render :partial => 'documents/inspectors/iframe_inspector' %>
  <%= render :partial => 'documents/inspectors/image_inspector' %>
  <%#= render :partial => 'documents/inspectors/text_properties_inspector' %>
  <%#= render :partial => 'documents/inspectors/widget_properties_inspector' %>
  <%#= render :partial => 'documents/inspectors/iframe_properties_inspector' %>
  <%#= render :partial => 'documents/inspectors/html_properties_inspector' %>
</div>