<% if !Rails.env.production? %><!-- mystuff panel --><% end %>

<div class="mystuff_panel panel" id="my-content">
  <header>
  	<h3>Your Stuff</h3>
  </header>
  
  <ul class='tab_navigation'>
    <li>
      <a class="selected" href='#my-images'title='My Images' id='my_images'> my images </a>
    </li>
    <li>
      <a href='#favorites'title='Favorites' id='favorites'> Favorites </a>
    </li>
  </ul>
  
  <div id="my-images" class='my-content-tab'>
    <a href='#uploaded_images' class='' id='uploaded_images'><%= t('.images.uploaded_images') %></a>
    <a href='#facebook_albums' class='' id='facebook_albums'><%= t('.images.facebook_albums') %></a>
    <a href='#upload-images' class='' id='add_image'><%= t('.images.add_image') %></a>
    <div id="my_images_library" class='thumbnails'></div>
    <div id="my_facebook_library" class='thumbnails'></div>
  </div>

  <div id="my_facebook_album_details" style='display:none' class='my-content-tab'>
  </div>
                                                              
  <div id="my-images-details" style='display:none' class='my-content-tab'>
    <a href='#my-images' id='image-detail-back' class='back'>Back</a>
    <div id="image-details">
      <div class='single_image'>
        <a href='' onclick="window.open(this.getAttribute('href'), '_blank'); return false;">
          <img src='' alt='' />
          <div class='icon_overlay'></div>
        </a>
      </div>
      <h4 class="image_name"></h4>
      <h5 class="image_size"></h5>
      <div class="actions">
        <ul>
          <li>
            <a id="add_image_to_page_action" href="">Add to page</a>
          </li>
          <li>
            <a id="set_image_as_bg_action" href="">Set as background</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div id="my-favorites-videos-details" class="my-content-tab" style="display:none;">
    <a href='#my-favorites' id='video_detail_back' class='back'><%= t('.buttons.back') %></a>
    <div id="video-details">
      <h4 class="video_name"></h4>
      <div class="single_video">
        <div class="drag_handle" draggable="true"><%= t('.videos.detail_view.drag_handle') %></div>
      </div>
      <h5 class="view_count">
        <span></span>
        views
      </h5>
      <p class="video_description"></p>
      <div class="actions">
        <ul>
          <li>
            <a id="add_video_to_page_action" href=""><%= t('.videos.detail_view.add_to_page') %></a>
          </li>
          <li>
            <a id="show_video_page_action" href=""><%= t('.videos.detail_view.show_on') %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div id="upload-images" style='display:none' class='my-content-tab'>
    <div id="swfupload_container" style='display:none'>
      <input id='upload_images_button' type='button' value="Choose images" />
    </div>

    <h1><%= t('.images.add_images_view.title') %></h1>
    <div id="upload_control">
      <span id='upload_images_button_background' class='button'><%= t('.images.buttons.upload') %></span>
      <button id='cancel_images_upload' class='button' style='display:none'><%= t('.images.buttons.cancel_upload') %></button>
      <div id="upload_images_spinner" style='display:none'></div>
      <span class='uploading_info'><%= t('.images.add_images_view.choose_upload_image') %> </span>
      <a href='#my-images' id='upload_back'><%= t('.buttons.back') %></a>
    </div>
  </div>
</div>