<div class="page_inspector_panel panel" id="page-inspector">
  <header>
  	<h3>Page inspector</h3>
	</header>
	
  <div class="content">
    <form>
      <fieldset class='properties'>
        <div>
          <label><%= t('.properties.name') %></label>
          <input type="text" data-property="page_title" id="page_title" class="page-title" />
        </div>
      </fieldset>
      <fieldset class='properties externalPage-related'>
        <legend><%= t('.page.title') %></legend>
        <div>
          <label><%= t('.page.url') %></label>
          <input id='external_page_url' type='url' value='http://' data-type='webdoc_iframe_url'/>
        </div>
      </fieldset>
      <fieldset class='properties'>
        <legend><%= t('.properties.title') %></legend>
        <div>
          <label><%= t('.properties.width') %></label>
          <input data-property="page_width" id="page_width" type="text" data-type="cssvalue" required="required" />
        </div>
        <div>
          <label><%= t('.properties.height') %></label>
          <input data-property="page_height" id="page_height" type="text" data-type="cssvalue" required="required" />
        </div>
        <div>
          <!--<label><%= t('.properties.show_scroll') %></label>
          <input id="page_scroll_checkbox" type="checkbox"/>
        </div>-->
      </fieldset>
      <fieldset class='properties' id='background_properties'>
        <legend>background</legend>
        <div class="background-related">
          <label><%= t('.properties.background') %></label>
          <input data-property="page_background_color" id="page_background_color" type="text" data-type="csscolor" />
        </div>
        <!--<div class="background-related">
          <label><%= t('.properties.background_image') %></label>
          <input data-property="page_background_image" id="page_background_image" type="text" data-type="imageurl" />
        </div>-->
        <div id="background_image_preview" class="background-related">
          <img id='background_image' src='' />
          <p>
            <a class='page-remove-background-image' href='#remove_background'>
              <%= t('.properties.remove_image') %>
            </a>
          </p>
        </div>
        <p class='background-related'>
          <a href='#library-images-myimages'>
            Choose an image from the library
          </a>
        </p>
        
        <div class="background-related">
          <label for='page_background_image_tileY_checkbox'> <%= t('.properties.background_image_position.vertical') %></label>
          <input type="checkbox" name="page-bg-repeat-y" value="y" data-property="page_background_repeat" />
          <span class='label'><%= t('.properties.background_image_position.tile') %></span>
          <input type="radio" name="yPos" value="0%" data-property="page_background_image_align" />
          <span class='label'><%= t('.properties.background_image_position.top') %></span>
          <input type="radio" name="yPos" value="50%" data-property="page_background_image_align" />
          <span class='label'><%= t('.properties.background_image_position.middle') %></span>
          <input type="radio" name="yPos" value="100%" data-property="page_background_image_align" />
          <span class='label'><%= t('.properties.background_image_position.bottom') %></span>
        </div>
        <div class='background-related shunt'>
          <label for='page_background_image_tileX_checkbox'> <%= t('.properties.background_image_position.horizontal') %></label>
          <input type="checkbox" name="page-bg-repeat-x" value="x" data-property="page_background_repeat" />
          <span class='label'><%= t('.properties.background_image_position.tile') %></span>
          <input type="radio" name="xPos" value="0%" data-property="page_background_image_align" />
          <span class='label'><%= t('.properties.background_image_position.left') %></span>
          <input type="radio" name="xPos" value="50%" data-property="page_background_image_align" />
          <span class='label'><%= t('.properties.background_image_position.center') %></span>
          <input type="radio" name="xPos" value="100%" data-property="page_background_image_align" />
          <span class='label'><%= t('.properties.background_image_position.right') %></span>
        </div>
        <div class='background-related'>
          <label for='page_background_image_apply_all_button'></label>
          <input id='page_background_image_apply_all_button' type='button' value='<%= t('.properties.buttons.apply_background_all_pages') %>'/>
        </div>
      </fieldset>
      <!--<fieldset class='properties'>
        <legend><%= t('.properties.layout') %></legend>
        <div>
          <a href='#layout_remove'>Don't use a layout</a>
        </div>
        <ul id='layouts' class='layouts-index icons-only thumbs index'>
          
        </ul>
      </fieldset>-->
    </form>
  </div>
</div>

