#page-inspector.inspector
  %div.head
    %div
      %div.inspector-title Page
  
  %div.foot
  
  %div.content
    %form
      %fieldset.properties
        %div
          %label= t('.properties.name')
          <input type="text" data-property="page_title" id="page_title" class="page-title" />
      
      %fieldset.properties.externalPage-related
        %legend= t('.page.title')
        %div
          %label= t('.page.url')
          %input#external_page_url{ :type => "text", :value => "http://" }
      
      %fieldset.properties
        %legend= t('.properties.title')
        %div
          %label= t('.properties.height')
          <input data-property="page_height" id="page_height" type="text" data-type="cssvalue" required="required" />
        %div
          %label= t('.properties.width')
          <input data-property="page_width" id="page_width" type="text" data-type="cssvalue" required="required" />
        %div
          %label= t('.properties.show_scroll')
          %input#page_scroll_checkbox{ :type => "checkbox" }
      
      %fieldset.properties#background_properties
        %legend background
        
        %div.background-related
          %label= t('.properties.background')
          <input data-property="page_background_color" id="page_background_color" type="text" data-type="csscolor" />
        
        %div.background-related
          %label= t('.properties.background_image')
          <input data-property="page_background_image" id="page_background_image" type="text" data-type="imageurl" />

        %div#background_image_preview.background-related
          %img#background_image
          %p            
            %a.page-remove-background-image{ :href => "#remove_background"}
              = t('.properties.remove_image')
        
        %p.background-related
          %a{ :href => "#library-images-myimages" } Choose an image from the library
        
        
        %div.background-related
          %label{ :for => 'page_background_image_tileY_checkbox' }= t('.properties.background_image_position.vertical')
          <input type="checkbox" name="page-bg-repeat-y" value="y" data-property="page_background_repeat" />
          %span.label= t('.properties.background_image_position.tile')
          <input type="radio" name="yPos" value="0%" data-property="page_background_image_align" />
          %span.label= t('.properties.background_image_position.top')
          <input type="radio" name="yPos" value="50%" data-property="page_background_image_align" />
          %span.label= t('.properties.background_image_position.middle')
          <input type="radio" name="yPos" value="100%" data-property="page_background_image_align" />
          %span.label= t('.properties.background_image_position.bottom')

        %div.background-related.shunt
          %label{ :for => 'page_background_image_tileX_checkbox' }= t('.properties.background_image_position.horizontal')
          <input type="checkbox" name="page-bg-repeat-x" value="x" data-property="page_background_repeat" />
          %span.label= t('.properties.background_image_position.tile')
          <input type="radio" name="xPos" value="0%" data-property="page_background_image_align" />
          %span.label= t('.properties.background_image_position.left')
          <input type="radio" name="xPos" value="50%" data-property="page_background_image_align" />
          %span.label= t('.properties.background_image_position.center')
          <input type="radio" name="xPos" value="100%" data-property="page_background_image_align" />
          %span.label= t('.properties.background_image_position.right')

        %div.background-related
          %label{ :for => 'page_background_image_apply_all_button' }
          %input#page_background_image_apply_all_button{ :type => "button", :value => t('.properties.buttons.apply_background_all_pages') }
      %fieldset.properties
        %legend layout
        %div
          %label= t('.properties.layout')
          %select#layout-dropdown