<div class="card <% if local_assigns.has_key? :subscribed %>card-with-button<% end %>" data-webdoc-user-id="<%= user.id %>" style="background-image: url('<%= user.avatar.url(:thumb) %>');">
  <% if user.mutual_connection(current_user) %>
    <div class="wd-user-item-mutual" ></div>
  <% end %>
  <h4 class="card-name card-name-avoid-button">
    <a href='/users/<%= user.uuid %>'>
      <%= "#{user.first_name} #{user.last_name}" %>
    </a>
  </h4>
  <p class="card-bio"><%= "#{user.bio}" %></p>
  <div class="card-stats"><%= "#{user.documents.length}" %> webdoc<% if user.documents.length > 1 %>s<% end %></div>
  
  <% if local_assigns.has_key? :friendship %>
    <% if user.friend?(current_user)%>
    <p>You're friend with <%= user.username %></p>
    <% elsif user.pending_requested_friend?(current_user)%>
      <p> <%= user.username %> ask you to be friend with him </p>
    <% elsif user.requested_friend?(current_user)%>
      <p>You already sent a request to <%= user.username %> </p>
    <% elsif user.blocked_friend?(current_user)%>
     <p>You have blocked <%= user.username %> </p>
     <% else %>
     <p>Become friend </p>
    <% end %>
  <% end %>
  
  <!-- The following is used for the follower paradigm
  <% if local_assigns.has_key? :subscribed %>
    <a class="subscribe-button button" href="#<% if subscribed %>un<% end %>subscribe"><% if subscribed %>unfollow<% else %>follow<% end %></a>
  <% end %> -->
</div>