<h1>Change your password</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />

  <p>
    <%= f. submit 'Change password' %>
  </p>
<% end %>