<% session_key_name = Rails.application.config.session_options[:key] %>

<% meta_title 'Dashboard' %>

<% css_assets 'application' %>
<% js_assets 'document_editor' %>

<div class="wrap">
  <div class="column double_column of_four">
    <a id="wb-create-document-button" class="add_button button">New document</a>
  </div>
  <div class="column of_four">
    <ul class="tabs index">
      <li>
        <ul .filter-bar.bar.index.state-public-hide style="float: right;" >
          <li><a id="wb-document-filter-owned-by-me" class="current state-filter-tab" href="#filter-author" data-webdoc-documents-filter-type="creator"><%= t('.created_by_me') %></a></li
         ><li><a id="wb-document-filter-editor-rights" class="state-filter-tab" href="#filter-editable" data-webdoc-documents-filter-type="editor" ><%= t('.editor_rights') %></a></li>
      </li>
    </ul>
  </div>
  <div class="column last_column of-four">
    <input id="wb-documents-search" class="ui-corner-all" type="text" name="wb-documents-search" placeholder="Search" />
  </div>
</div>

<div class="wrap absolute_column two of_two">
  <div id="wb-document-list-container" class="column triple of-four">
    <div class="loading-icon">
    </div>
  </div>
  <div class="column last_column of_four state-public-hide" style="text-align: justify;">
    <h3>Your Webdocs</h3>
    <p>Create your own new webdoc, or choose a webdoc to view from the list.</p>
    <p>You can <strong>invite</strong> other people to help you edit your webdocs, and when you're ready to show them to the world, choose <strong>sharing</strong>.</p>
  </div>
  <%= render 'pending_friendships'%>
</div>

<div class="wrap">
  <%= render 'documents/popup_create_webdoc'%>
</div>
<div class="wrap">
  <%= render 'documents/popup_collaborate' %>
</div>

<div class="wrap">
  <%= render 'documents/popup_share' %>
</div>

<% content_for :scripts do %>
  <script>
    WebDoc.DocumentCategoriesManager._documentCategories = WebDoc.ServerManager.createRecords(WebDoc.Category, <%= raw Rails.cache.fetch("categories_json") { Category.all.to_json } %>);
    WebDoc.Application.main(function() {
      var editor = new WebDoc.DocumentEditor();
      editor.start();
    });
  </script>
<% end %>