%h1=t '.title'

= error_messages_for :user
- form_for @user do |f|
  
  = render :partial => 'form', :locals => { :f => f }

  %div
    = f.submit t('.button')

= link_to t('show'), @user 
|
= link_to t('back'), :back