<div class="action-zone zone">
  <div class="wrap clear">
    <h2><%=t '.title' %></h2>
    
    <% form_for @user, :html => {:multipart => 'true'}, :builder => CustomFormBuilder do |f| %>
      <fieldset>
        <div class="column one of-four stack <% if @user.errors.on(:avatar) %>error<% end %>">
          <label for="user_avatar">Avatar<br/>
            <% if (@user.avatar_thumb_url && !@user.errors.on(:avatar)) %>
              <img src="<%= @user.avatar_thumb_url %>" />
            <% end %>
          </label>
        </div>
        
        <div class="column two of-four">
          <%= f.check_box :remove_avatar %>
          <%= f.label :remove_avatar, 'remove picture' %>
        </div>
        
        <div class="column one double of-four">
          <div class="ff-input-file-wrapper">
          <%= f.file_field :avatar, :maxlength => 255, :size => "39" %>
          </div>
        </div>
        
        <%= f.hidden_field :avatar_cache %>
      </fieldset>
      <fieldset>
        <div class="column one of-four stack <% if @user.errors.on(:first_name) %>error<% end %>">
          <%= f.label :first_name, 'First name' %>
          <%= f.text_field :first_name, :maxlength => 255, :required => "required", :autocomplete => "on", :autofocus => "on", :placeholder => "Stelio", :size => "28" %>
        </div>
        <div class="column two of-four stack <% if @user.errors.on(:last_name) %>error<% end %>">
          <%= f.label :last_name, 'Last name' %>
          <%= f.text_field :last_name, :maxlength => 255, :required => "required", :autocomplete => "on", :placeholder => "Tzonis", :size => "28" %>
        </div>
      </fieldset>
      <fieldset>
        <div class="column one of-four stack <% if @user.errors.on(:username) %>error<% end %>">
          <%= f.label :username, 'User name' %>
          <%= f.text_field :username, :maxlength => 255, :required => "required", :autocomplete => "on", :placeholder => "stelman", :size => "28" %>
        </div>
      </fieldset>
      <fieldset>
        <div class="column one double of-four stack <% if @user.errors.on(:website) %>error<% end %>">
          <%= f.label :website, 'Website' %>
          <%= f.text_field :website, :maxlength => 255, :autocomplete => "on", :placeholder => "www.webdoc.com/stelio", :size => "28" %>
        </div>
      </fieldset>
      
      <fieldset>
        <div class="column one double of-two stack <% if @user.errors.on(:bio) %>error<% end %>">
          <%= f.label :bio, 'A little bit about yourself' %>
          <%= f.text_area :bio, :maxlength => 255, :autocomplete => "on", :cols => '', :rows => '' %>
        </div>
      </fieldset>
      
      <fieldset>
        <div class="stack">
          <%= f.label :gender, 'Gender' %>
          <%= f.select(:gender, [
            ['-', nil],
            ['Male', 'male'],
            ['Female', 'female']
          ]) %>
        </div>
      </fieldset>
      
      <input name="submit" type="submit" value="Update" />
      
      <a href="<%= edit_registration_path(:user) %>" style="margin-bottom: 0;" class="button">Change email &amp; password</a>
          
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <%= include_javascripts :forms %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('form').validator();
    });
  </script>
<% end %>