%h1=t '.title'

%ul
  - @users.each do |user|
    %li
      = "#{user.name} (#{user.email})"
      -
      = link_to t('show'), user
      |
      = link_to t('edit'), edit_user_path(user)
      |
      = button_to t('destroy'), user, :confirm => I18n.t('alert.destroy_confirmation'), :method => :delete


= link_to t('.new_user_link'), new_users_path