<h1>Listing users</h1>


<%= current_user.email %>
<table>
  <tr>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email  %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => I18n.t('alert.destroy_confirmation'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New users', new_user_path %> | <%= link_to 'Logout', session_path, :method => :delete %>