%h1=t '.title'

- semantic_form_for @user do |f|
  - f.inputs do
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :username
    = f.input :password
    = f.input :terms_of_service, :as => :boolean, :label => t('.terms_of_service', :link => link_to(t('.terms_of_service_link'), '#TODO'))
    
  - f.buttons do
    = f.commit_button

= link_to t('back'), :back