<% meta_title @user.username %>

<% css_assets 'editor', 'profile' %>
<% js_assets 'editor' %>

<!-- workspace -->

<div class="title_wrap site_wrap wrap">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="column of_two" id="user_card">
    <% if current_user == @user %>
      <%= render 'card', :user => @user %>
    <% else %>
      <%= render 'card', :user => @user, :subscribed => @user.follower?(current_user), :friendship => @user.friend?(current_user)  %>
    <% end %>
  </div
 ><div class="column of_two" id="friends_list">
    <h6><%=  @user.first_name %>'s Friends</h6>
    <ul class='horizontal index friends_index friend_list'>
      <% for user in @user.friends do %>
        <li>
     <% if current_user == user %>
      <%= render 'card', :user => user %>
    <% else %>
      <%= render 'card', :user => user, :subscribed => user.follower?(current_user), :friendship => user.friend?(current_user)  %>
    <% end %>
    </li>
      <% end %>
    </ul>
  </div>
</div>

<section class="workspace_wrap site_wrap wrap">
  <div class="editor_wrap wrap" id="editor">
    <%= render "documents/webdoc" %>
    <%= render "documents/sidebar" %>
    <%= render "documents/panels/toolbar_panel" %>
    <%= render "documents/panels/controls_panel" %>
    <%= render "documents/inspectors/document_inspector" %>
    <%= render "documents/panels/discussions_panel" %>
    <%= render "documents/panels/content_panel" %>
    <%= render "documents/inspectors/document_inspector" %>
    <%#= render :partial => "documents/panels/social_panel" %>
    <%= render "documents/inspectors/page_inspector" %>
    <%= render "documents/panels/pages_panel" %>
    <%= render "documents/panels/inspector_panel" %>
  </div>
</section>

<%= render "documents/relatedcontent", :documents => @related_documents %>

<% content_for :scripts do %>
  <script>
    WebDoc.WidgetManager.videoWidget = new WebDoc.Widget(<%= raw Rails.cache.fetch("widget_json_video") { Medias::Widget.first(:conditions => {:system_name => 'video'}).to_json } %>);

    new WebDoc.Document(<%= raw Rails.cache.fetch("document_#{@document.uuid}") { @document.as_application_json.to_json.gsub('/script','/sscript') } %>);

    WebDoc.DocumentCategoriesManager._documentCategories = WebDoc.ServerManager.createRecords(WebDoc.Category,<%= raw Rails.cache.fetch("categories_json") { Category.all.to_json } %>);
    WebDoc.ThemeManager._defaultTheme = new WebDoc.Theme(<%= raw Rails.cache.fetch("default_theme_json") { Theme.default.to_json } %>);
    WebDoc.Application.main(function() {
      var editor = new WebDoc.PageEditor();
      editor.load("<%= @document.uuid %>", <%= edit_mode? %>);
    });
  </script>
<% end %>