<div class="action-bar bar">
  <div class="wrap clear">
    <h2>Sign up</h2>
    <form action="<%= registration_path(resource_name) %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= protect_against_forgery? ? form_authenticity_token : '' %>" />
      
      <fieldset>
        <div class="stack column one of-four">
          <label for="user_<%= :email %>">Email <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :email %>" name="user[<%= :email %>]" type="text" required="required" autocomplete="on" autofocus="on" placeholder="stelio@webdoc.com" />
        </div>
      </fieldset>
      
      <fieldset>
        <div class="stack column one of-four">
          <label for="user_<%= :first_name %>">First name <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :first_name %>" name="user[<%= :first_name %>]" type="text" required="required" autocomplete="on" placeholder="Stelio" />
        </div>
        <div class="stack column two of-four">
          <label for="user_<%= :last_name %>">Last name <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :last_name %>" name="user[<%= :last_name %>]" type="text" required="required" autocomplete="on" placeholder="Tzonis" />
        </div>
      </fieldset>
      
      <fieldset>
        <div class="stack column one of-four">
          <label for="user_<%= :username %>">Username <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :username %>" name="user[<%= :username %>]" type="text" required="required" autocomplete="on" placeholder="stelman" />
        </div>
        <div class="stack column two of-four">
          <label for="user_<%= :password %>">Password <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :password %>" name="user[<%= :password %>]" type="password" required="required" autocomplete="off" />
        </div>
      </fieldset>
      
      <fieldset>
        <div>
          <label for="user_<%= :terms_of_service %>">
            <input name="user[<%= :terms_of_service %>]" type="hidden" value="0">
            <input id="user_<%= :terms_of_service %>" name="user[<%= :terms_of_service %>]" type="checkbox" value="1" required="required" />
            I agree to the <a href="#TODO">terms of service</a>
          </label>
        </div>
      </fieldset>
      
      <input id="user_submit" name="commit" type="submit" value="Sign up">
    </form>
  </div>
</div>

<div class="content">
  <div class="wrap clear">
    <%= render "shared/devise_links" %>
  </div>
</div>

<!--
%h1=t '.title'

- semantic_form_for resource_name, resource, :url => registration_path(resource_name) do |f|
  - f.inputs do
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :username
    = f.input :password
    = f.input :terms_of_service, :as => :boolean, :label => t('.terms_of_service', :link => link_to(t('.terms_of_service_link'), '#TODO'))
    
  - f.buttons do
    = f.commit_button

= link_to t('back'), :back

-->