= stylesheet_link_tag 'style.datastore'
%script{:type => "text/javascript"} 
  :plain 
    function confirmDelete(id) {if(confirm('Are you sure you want to delete this record?')){document.location.href='/datastores?delete='+id}}

%h1= 'Datastores'

- @last_doc_uuid = nil
- @last_item_id = nil
- @datastore_entries.each do |datastore_entry|
  - if @last_doc_uuid != datastore_entry.item.page.document.uuid
    %div{:class => 'ds-document'}
      = link_to 'Document: ' + datastore_entry.item.page.document.title, '/documents/' + datastore_entry.item.page.document.uuid, {:target => '_new'}
    - @last_doc_uuid = datastore_entry.item.page.document.uuid
  - if @last_item_id != datastore_entry.item.id
    %div{:class => 'ds-app'}
      = datastore_entry.item.uuid.to_s
    - @last_item_id = datastore_entry.item.id
    %div{:class => 'ds-record'}
      %table
        %tr
        %th{:class => 'ds-td-key'}= 'Key'
        %th{:class => 'ds-td-value'}= 'Value'
        %th{:class => 'ds-td-updated'}= 'Updated at'
  %div{:class => cycle('ds-record ds-record-even', 'ds-record ds-record-odd')}
    %table
      %tr
        %td{:class => 'ds-td-key'}
          = link_to_function '', 'confirmDelete(' + datastore_entry.id.to_s + ')', {:class => 'ds-a-delete'}
          = datastore_entry.ds_key
        %td{:class => 'ds-td-value'}= datastore_entry.ds_value
        %td{:class => 'ds-td-updated'}= datastore_entry.updated_at