%ul
  - if controller_name != 'registrations'
    %li= link_to t('devise.registrations.link'), new_registration_path(:user)
  - if controller_name != 'home'
    %li= link_to t('devise.sessions.link'), root_path
  - if controller_name != 'passwords'
    %li= link_to t('devise.passwords.link'), new_password_path(:user)
  - if controller_name != 'confirmations'
    %li= link_to t('devise.confirmations.link'), new_confirmation_path(:user)
  - if controller_name != 'unlocks'
    %li= link_to t('devise.unlocks.link'), new_unlock_path(:user)
