<!-- home/show.html.erb -->
<div class="action-zone zone">
  <div class="wrap clear">
    <h2>Log in</h2>
    
    <% form_for @user, :url => session_path(@user), :builder => CustomFormBuilder do |f| %>
      <input name="authenticity_token" type="hidden" value="<%= protect_against_forgery? ? form_authenticity_token : '' %>" />
      
      <fieldset>
        <div class="stack column one of-four<% if @user.errors.on(:email) %> error<% end %>">
          <%= f.label :email, 'Email <abbr class="required" title="required">*</abbr>' %>
          <%= f.text_field :email, :maxlength => 255, :required => "required", :autocomplete => "on", :autofocus => "on", :placeholder => "stelio@webdoc.com" %>
        </div>
        <div class="stack column two of-four<% if @user.errors.on(:password) %> error<% end %>">
          <%= f.label :password, 'Password <abbr class="required" title="required">*</abbr>' %>
          <%= f.password_field :password, :minlength => 6, :maxlength => 255, :required => "required", :autocomplete => "on", :title => "Please enter your password" %>
          <span class="label"><%= link_to t('devise.passwords.link'), new_password_path(:user) %></span>
        </div>
      </fieldset>
      
      <input name="login" type="submit" value="Login">
      
      <label for="user_<%= :remember_me %>">
        <input id="user_<%= :remember_me %>" name="user[<%= :remember_me %>]" type="checkbox" value="1" required="required" />
          Remember me
      </label>
    <% end %>
  </div>
</div>

<div class="content">
  <div class="wrap">
  </div>
</div>

<% content_for :scripts do %>
  <%= include_javascripts :forms %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('form').validator();
    });
  </script>
<% end %>