<div class="action-bar bar">
  <div class="wrap clear">
    <h2>Log in</h2>
    <form action="<%= session_path(@user) %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= protect_against_forgery? ? form_authenticity_token : '' %>" />
      
      <fieldset>
        <div class="stack column one of-four">
          <label for="user_<%= :email %>">Email <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :email %>" name="user[<%= :email %>]" type="text" required="required" autocomplete="on" placeholder="stelio@webdoc.com" />
        </div>
        <div class="stack column two of-four">
          <label for="user_<%= :password %>">Password <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :password %>" name="user[<%= :password %>]" type="password" required="required" autocomplete="on" />
        </div>
      </fieldset>
      
      <input name="login" type="submit" value="Login">
      <label for="user_<%= :remember_me %>">
        <input id="user_<%= :remember_me %>" name="user[<%= :remember_me %>]" type="checkbox" value="1" required="required" />
          Remember me
      </label>
      
    </form>
  </div>
</div>

<div>
  <div class="wrap clear">
    <%= render "shared/devise_links" %>
  </div>
</div>

<!-- The haml version -->
<!--
    - form_for :user, :url => session_path(@user) do |f|
      %div
        = f.label :email
        = f.text_field :email
      %div
        = f.label :password
        = f.password_field :password
      %div
        %label{ :for => "user_remember_me" }
          = f.check_box :remember_me
          = "Remember me"
      %div
        = submit_tag "Login"
    
-->
<!-- The html version -->