%h1= t('.title') 

- semantic_form_for @widget, :url => admin_widget_path, :html => { :enctype => 'multipart/form-data' } do |f|
  - f.inputs do
    = f.input :title
    = f.input :description, :input_html => { :cols => 40, :rows => 5 }
    = f.input :system_name
    %p
      = t('.width')
      = @widget.properties[:width]
    %p
      = t('.height')
      = @widget.properties[:height]
    %p
      = t('.version')
      = @widget.properties[:version]
    %p
      = t('.icon_url')
      = @widget.properties[:icon_url]
    %p
      = t('.index_url')
      = @widget.properties[:index_url]
    %p
      = t('.inspector_url')
      = @widget.properties[:inspector_url]
    = f.input :file, :as => :file

  - f.buttons do
    = f.commit_button t('apply')
    
= link_to t('back'), admin_widgets_path