<h1><%= t('.title') %></h1>

<%= form_for @widget, :url => admin_widget_path, :html => { :enctype => 'multipart/form-data' } do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
  <%= f.label :system_name %>
  <%= f.text_field :system_name %>
  </p>
  <p>
    <%= f.check_box :favorites %>
    <%= f.label :favorites %>
  </p>

  <p>
    <%= t('.width') %>
    <%= @widget.properties['width'] %>
  </p>
  <p>
    <%= t('.height') %>
    <%= @widget.properties['height'] %>
  </p>
  <p>
    <%= t('.version') %>
    <%= @widget.properties['version'] %>
  </p>
  <p>
    <%= t('.icon_url') %>
    <%= @widget.properties['icon_url'] %>
  </p>
  <p>
    <%= t('.index_url') %>
    <%= @widget.properties['index_url'] %>
  </p>
  <p>
    <%= t('.inspector_url') %>
    <%= @widget.properties['inspector_url'] %>
  </p>
  <p>
    <%= t('.width') %>
    <%= @widget.properties['width'] %>
  </p>

  <p>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </p>

  <p>
    <%= f.submit t('apply') %>
  </p>
<% end %>
    
<%= link_to t('back'), admin_widgets_path %>