%h1= t('.title')

%ul#widget-list
  - @widgets.each do |widget|
    %li
      .widget-container
        .widget-title-container
          %img.widget-icon{ :src => "#{widget.properties[:icon_url]}"}
          %span.widget-title
            ="#{widget.title}"
        %span.widget-version
          = "Version #{widget.properties[:version]}"
          %br
        %span.widget-description
          = "#{widget.description}"
          %br
        %span.widget-controls
          = link_to t('edit'), edit_admin_widget_path(widget)
          = link_to t('destroy'), admin_widget_path(widget), :confirm => I18n.t('alert.destroy_confirmation'), :method => :delete

= link_to t('.add'), new_admin_widget_path
