%h1= t('.title')

- semantic_form_for @widget, :url => admin_widgets_path, :html => { :enctype => 'multipart/form-data' } do |f|
  - f.inputs do
    = f.input :attachment, :as => :file
    = f.input :system_name

  - f.buttons do
    = f.commit_button t('upload')

= link_to t('back'), admin_widgets_path
