%h1 Update existing widget

= error_messages_for :widget
- form_for @widget, :html => { :multipart => true}, :url => { :action => "update_action" } do |f|
  
  %div
    = f.label :file
    = f.file_field :widget
  
  %div
    = f.submit 'Update widget'

= link_to t('back'), :controller => "widgets", :action => "listing"
