%h1 Widgets Listing

= render :partial => 'layouts/flash'

%ul#widget-list
  - @widgets.each do |widget|
    %li
      .widget-container
        .widget-title-container
          %img.widget-icon{ :src => "#{widget.properties[:icon_url]}"}
          %span.widget-title
            ="#{widget.properties[:title]}"
        %span.widget-version
          = "Version #{widget.properties[:version]}"
          %br
        %span.widget-description
          = "#{widget.properties[:description]}"
          %br
        %span.widget-controls
          = link_to t('edit'), :controller => "widgets", :action => "edit", :id => "#{widget.id}"
          = link_to t('update'), :controller => "widgets", :action => "do_update", :id => "#{widget.id}"
          = link_to t('destroy'), widget_path(widget), :confirm => I18n.t('alert.destroy_confirmation'), :method => :delete

        -#%img.widget_item{ :src => "#{widget.properties[:icon_url]}"}
        -#= "#{widget.system_name} - Version #{widget.properties[:version]} - #{widget.properties[:title]} - #{widget.properties[:description]}"
        -#|
        -#= link_to t('destroy'), widget_path(widget), :confirm => I18n.t('alert.destroy_confirmation'), :method => :delete
        -#= link_to t('edit'), :controller => "widgets", :action => "edit", :id => "#{widget.id}"
        -#= link_to t('update'), :controller => "widgets", :action => "do_update", :id => "#{widget.id}"

= link_to "upload new widget", new_widget_path
