%h1 Add new widget

- form_tag widgets_path, :multipart => true do
  
  %div
    = hidden_field_tag :type, "Medias::Widget"
    = file_field_tag :widget
  %div
    %label System Name
    = text_field_tag :system_name
  %div
    = submit_tag "Upload"

= link_to t('back'), :controller => "widgets", :action => "listing"
