<ul id="page_navigation" class="navigation">
  <% if previous_page = @page.previous -%>
    <li><%= link_to "previous", document_page_path(@page.document, previous_page) %></li>
  <% end -%>
  <li><%= link_to "top", document_path(@page.document) %></li>
  <% if next_page = @page.next -%>
    <li><%= link_to "next", document_page_path(@page.document, next_page) %></li>
  <% end -%>
</ul>

<div id="page_<%= @page.id %>">
 <object type="image/svg+xml" style="position:absolute; top:50px; left:50px; width:100%; height:100%" type: data="<%= @page.url %>" />
</div>