

<div class="card">
	<h5 class="card-name">
		 <a href='<%= document_path(document)%>' class="card_link">
			<%= document.title %>
		</a>
	</h5>
	<a class="thumb" href="<%= document_path(document)%>" style="background-image: url('<%= document.pages.first.thumbnail.url %>');"></a>

    
    <time class="ago"><%= document.created_at %></time>
	<ul class="index horizontal card_stats">
		<li class="comments">0 </li>
		<li class="views"> <%= document.views_count %></li>
	</ul>
 </div>
  

<!-- 
  title: document.title
  descritpion: document.description
  page list: document.pages
  first page thumbnail: document.pages.first.thumbnail.url
  document url: document_path(document)
  create date : document.created_at
  view count: document.views_count
  category: document.category
  
  creator: document.creator
           document.creator.username
  creator url:  '/users/document.creator.uuid'
  

-->
