.libraries_wrap.layer{ :style => "display: none" }
  #swfupload_container{ :style => "display:none" }
    %input#upload_images_button{ :type => "button", :value => "Choose images" }
  #libraries
    #libraries_manager.view
      .toolbar
        %h1= t('.title')
      %ul.individual
        %li.images
          %a{ :href => '#images' }= t('.images.title')
        %li.videos
          %a{ :href =>'#videos'}= t('.videos.title')
        %li.apps
          %a{ :href =>'#apps'}= t('.apps.title')
        %li.web-browser
          %a{ :href =>'#web-browser-favorites'}= t('.web.title')          
    #images.view
      .toolbar
        %h1= t('.images.title')
        %a#add_images_button.button.slideup{ :href =>'#add_images' }=t('.images.add_image')
        %a.back{ :href =>'#' }=t('.buttons.back')
      .tabs.view_content
        %ul.tab_navigation
          %li
            %a.my_images{ :href => '' }=t('.images.my_images')
          %li
            %a.web_images{ :href => '' }=t('.images.web')
        .tab_content#my_images
          .thumbnails
          .spacer
        .tab_content#web_images.web_media
          %form
            %div
              %label{ :for => "web_images_search_field" }=t('.images.web_detail')
              %input#web_images_search_field.web_media_search_field{ :type => "text" }
              %input#web_images_search_submit.web_media_search_submit{ :type => "submit", :value => t('.buttons.search') }
          .spacer
          #flickr_images.thumbnails
            %h3.service_bar
              =t('.images.services.flickr')
              %span.results_number 0
          .spacer
          #google_images.thumbnails
            %h3.service_bar
              =t('.images.services.google')
              %span.results_number 0
          .spacer
      %ul{ :style => "display:none" }
        %li 
          %a#show_image_details{ :href =>'#image_details' }=t('.images.show_details')
    #add_images.view
      .toolbar
        %h1= t('.images.add_images_view.title')
        %a.button.goback{ :href =>'#images' }= t('.buttons.close')
      #upload_control
        %span#upload_images_button_background.button= t('.buttons.upload')
        %button#cancel_images_upload.button{ :style => "display:none" }= t('.buttons.cancel_upload')
        #upload_images_spinner{ :style => "display:none" }
        %span.uploading_info= t('.images.add_images_view.choose_upload_image') 
    #image_details.view.details_view
      .toolbar
        %h1= t('.images.detail_view.title')
        %a.back{ :href =>'#' }= t('.buttons.back')
      
      .view_content
        .single_image
          %a{ :href => "", :onclick => "window.open(this.getAttribute('href'), '_blank'); return false;" }
            %img{ :src => "", :alt => "" }
            .icon_overlay
        %h4.image_name
        %h5.image_size
        .actions
          %ul
            %li
              %a#add_image_to_page_action{ :href => "" }= t('.images.detail_view.add_to_page')
            %li
              %a#set_image_as_bg_action{ :href => "" }= t('.images.detail_view.set_as_background')
            %li.dyn.flickr
              %a#show_flickr_page_action{ :href => "" }= t('.images.detail_view.show_on_flickr')
            %li.dyn.flickr.google
              %a#delete_from_my_images_action{ :href => "" }= t('.images.detail_view.remove_from_my_images')
            %li.dyn.my_image
              %a#delete_image_action{ :href => "" }= t('.images.detail_view.delete')
            %li.dyn.flickr.google
              %a#add_to_my_images_action{ :href => "" }= t('.images.detail_view.add_to_my_images')
    #videos.view
      .toolbar
        %h1= t('.videos.title')
        %a.back{ :href =>'#' }= t('.buttons.back')
      .tabs.view_content
        %ul.tab_navigation
          %li
            %a.web_videos{ :href => '' }= t('.videos.web')
          %li
            %a.my_videos{ :href => '' }= t('.videos.my_videos')
        .tab_content#web_videos.web_media
          %form
            %div
              %label{ :for => "web_videos_search_field" }= t('.videos.web_detail')
              %input#web_videos_search_field.web_media_search_field{ :type => "text" }
              %input#web_videos_search_submit.web_media_search_submit{ :type => "submit", :value => t('.buttons.search') }
          .spacer
          #youtube_videos.rows
            %h3.service_bar
              = t('.videos.services.youtube')
              %span.results_number 0
          .spacer
          #vimeo_videos.rows
            %h3.service_bar
              = t('.videos.services.vimeo')
              %span.results_number 0
          .spacer
        .tab_content#my_videos
          .rows
          .spacer
      %ul{ :style => "display:none" }
        %li 
          %a#show_video_details{ :href =>'#video_details' }= t('.videos.show_details')
    #apps.view
      .toolbar
        %h1= t('.apps.title')
        %a.back{ :href =>'#' }= t('.buttons.back')
      .tabs.view_content
        %ul.tab_navigation
          %li
            %a.my_apps{ :href => '' }= t('.apps.my_apps')
        .tab_content#my_apps
          .thumbnails
          .spacer
      %ul{ :style => "display:none" }
        %li
          %a#show_app_details{ :href => '#app_details' }= t('.apps.show_details')
    #app_details.view.details_view
      .toolbar
        %h1= t('.apps.detail_view.title')
        %a.back{ :href =>'#' }= t('.buttons.back')
      %h4.app_title
      .single_app
        %a{ :href => "" }
          %img{ :src => "", :alt => "" }
      %h5.app_version
      %p.app_description
      .actions
        %ul
          %li
            %a#add_app_to_page_action{ :href => "" }= t('.apps.detail_view.add_to_page')
      
    #video_details.view.details_view
      .toolbar
        %h1= t('.videos.detail_view.title')
        %a.back{ :href =>'#' }= t('.buttons.back')
      .view_content
        %h4.video_name
        .single_video
          .drag_handle= t('.videos.detail_view.drag_handle')
        %h5.view_count
          %span
          = " views"
        %p.video_description
        .actions
          %ul
            %li
              %a#add_video_to_page_action{ :href => "" }= t('.videos.detail_view.add_to_page')
            %li
              %a#show_video_page_action{ :href => "" }= t('.videos.detail_view.show_on')
            %li
              %a#delete_from_my_videos_action{ :href => "" }= t('.videos.detail_view.remove_from_my_videos')
            %li
              %a#add_to_my_videos_action{ :href => "" }= t('.videos.detail_view.add_to_my_videos')
    #web-browser-favorites.view
      .toolbar
        %h1= t('.web.web_browser')
        %a.back{ :href =>'#' }= t('.buttons.back')
        
      %ul{ :style => "display:none" }
        %li
          %a#show_web-browser{ :href => '#web-browser' }= t('.web.show_browser')
      #favorites-links
        %ul      
          %li
            %a#google{ :href => '#http://www.google.com/m' }= t('.web.links.google')
          %li
            %a#flickr{ :href => '#http://m.flickr.com' }= t('.web.links.flickr')
          %li
            %a#facebook{ :href => '#http://m.facebook.com' }= t('.web.links.facebook')
          %li
            %a#wikipedia{ :href => '#http://m.wikipedia.org' }= t('.web.links.wikipedia')                            
    #web-browser.view
      .toolbar
        %h1= t('.web.detail_view.title')
        %a.back{ :href =>'#' }= t('.buttons.back')
      #web-browser-ui.inspector        
        .content
          %iframe{ :src => "http://m.wikipedia.org", :style => "width:100%; height:100%" }           

