 <h1>Personal</h1>
<% if (@documents.nil? || @documents.empty?)  -%>
<div class="ub-empty-document-list">Empty list</div>
<% else  -%>
<ul id="documents" class="document_list">
  <% @documents.each do |document| -%>
    <li id="document_<%= document.id %>"><div class="ub-document-title"><%= document.title%></div><center><%= link_to image_tag(document.pages.first.thumbnail_url(), :size => '200x150'), document_path(document) %></center>
      <%= button_to 'Remove', document_path(document), :method => :delete, :confirm => 'Document will be removed. Are you sure?' %>
    </li>
  <% end -%>
</ul>
<% end  -%>
<h1>Public</h1>
<% if (@public_documents.nil? || @public_documents.empty?)  -%>
  <div class="ub-empty-document-list">Empty list</div>
<% else  -%>
<ul id="documents" class="document_list">
  <% @public_documents.each do |document| -%>
    <li id="document_<%= document.id %>"><div class="ub-document-title"><%= document.title%></div><center><%= link_to image_tag(document.pages.first.thumbnail_url(), :size => '200x150'), document_path(document) %></center>
    </li>
  <% end -%>
</ul>
<% end  -%>