- session_key_name = ActionController::Base.session_options[:key]

-#= include_template :document_editor

%div.action-bar.bar{ :style => "overflow: hidden;" }
  %div.wrap.clear
    %a#wb-create-document-button.add-button.button= t('.buttons.new_document')
    
    %ul.document-tabs.tabs.index
      %li>
        %a#wb-document-filter-date.current.state-tabs{ :href => "#by_date"}= t('.all_items_by_date')
      %li>
        %a#wb-document-filter-owned-by-me.active.state-tabs{ :href => "#created_by_me"}= t('.created_by_me')
      %li>
        %a#wb-document-filter-shared-with-me.state-tabs{ :href => "#shared_with_me"}= t('.shared_with_me')
      %li>
        %a#wb-document-filter-public.state-tabs{ :href => "#public"}= t('.public')
%div.content
  %div#wb-document-list-container.wrap

#wb-new-document-dialog{ :style => "display:none", :title => t('.create_new_document') }
  %form#wb-new-form{ :action => ""}
    %fieldset
      %label{ :for => "name" }= t ".document_forms.name"
      %br
      %input#wb-new-document-name.ui-corner-all{ :type => "text", :name => "wb-new-document-name", :style => "width:100%"}
      %br
      %label{ :for => "description" }= t ".document_forms.description"
      %br
      %textarea#wb-new-document-description.ui-corner-all{ :rows => "3", :name => "wb-new-document-description", :style => "width:100%"}
      %br
      %label{ :for => "category" }= t ".document_forms.category"
      %br
      %select#wb-new-document-category
      %br
      %label{ :for => "document_size" }= t ".document_forms.document_size_title"
      %br
      %input#wb-new-document-size-custom{ :type => "radio", :name => "wb-new-document-size", :value => "custom" }
      = t('.document_forms.document_size.custom')
      = t('.document_forms.document_size.width')
      %input#wb-new-document-size-custom-width{ :type => "text" , :size => 6}
      = t('.document_forms.document_size.height')
      %input#wb-new-document-size-custom-height{ :type => "text" , :size => 6}
      %br
      %input#wb-new-document-size-iPhone{ :type => "radio", :name => "wb-new-document-size", :value => "iPhone" }
      = t('.document_forms.document_size.iPhone')
      %input#wb-new-document-size-classic{ :type => "radio", :name => "wb-new-document-size", :value => "classic" }
      = t('.document_forms.document_size.classic')
      %input#wb-new-document-size-iPad{ :type => "radio", :name => "wb-new-document-size", :value => "iPad" }
      = t('.document_forms.document_size.iPad')

#wb-edit-document-dialog{ :style => "display:none",:title => t('.edit_document') }
  %form#wb-edit-form{ :action => ""}
    %fieldset
      %label{ :for => "name" }= t ".document_forms.name"
      %br
      %input#wb-edit-document-name.ui-corner-all{ :type => "text", :name => "wb-edit-document-name", :style => "width:100%"}
      %br
      %label{ :for => "description" }= t ".document_forms.description"
      %br
      %textarea#wb-edit-document-description.ui-corner-all{ :rows => "3", :name => "wb-edit-document-description", :style => "width:100%"}
      %br
      %label{ :for => "category" }= t ".document_forms.category"
      %br
      %select#wb-edit-document-category
      %br
      %label{ :for => "document_size" }= t ".document_forms.document_size_title"
      %br
      %input#wb-edit-document-size-custom{ :type => "radio", :name => "wb-edit-document-size", :value => "custom" }
      = t('.document_forms.document_size.custom')
      = t('.document_forms.document_size.width')
      %input#wb-edit-document-size-custom-width{ :type => "text",  :size => 6}
      = t('.document_forms.document_size.height')
      %input#wb-edit-document-size-custom-height{ :type => "text", :size => 6}
      %br
      %input#wb-edit-document-size-iPhone{ :type => "radio", :name => "wb-edit-document-size", :value => "iPhone" }
      = t('.document_forms.document_size.iPhone')
      %input#wb-edit-document-size-classic{ :type => "radio", :name => "wb-edit-document-size", :value => "classic" }
      = t('.document_forms.document_size.classic')
      %input#wb-edit-document-size-iPad{ :type => "radio", :name => "wb-edit-document-size", :value => "iPad" }
      = t('.document_forms.document_size.iPad')
         

#wb-change-access-dialog{ :style => "display:none" }
  #document_access-header
  #wb-document-collaborate-tabs
    %ul
      %li
        %a{ :href => "#wb-invitation-tab"}
          = t('.document_forms.change_access_dialog.invite_tab')
      %li
        %a{ :href => "#wb-access-list"}
          = t('.document_forms.change_access_dialog.current_accesses')
    #wb-invitation-tab
      %label= t('.document_forms.change_access_dialog.add_editors')
      %br
      %textarea#wb-invitation-add-editors{ :rows => 3, :cols => 20}
      %br
      %label= t('.document_forms.change_access_dialog.add_editors_message')
      %br
      %textarea#wb-invitation-add-editors-message{ :rows => 3, :cols => 20}
      %hr
      %label= t('.document_forms.change_access_dialog.add_readers') 
      %br
      %textarea#wb-invitation-add-viewers{ :rows => 3, :cols => 20}
      %br
      %label= t('.document_forms.change_access_dialog.add_readers_message')
      %br
      %textarea#wb-invitation-add-viewers-message{ :rows => 3, :cols => 20}
    #wb-access-list
      #wb-invitation-failed
      %ul#document_access_list
      
#wb-share-document-dialog{ :style => "display:none", :title => t('.document_forms.share_document_dialog.title') }
  %form
    %p
      = t('.document_forms.share_document_dialog.explanation')
    %input#unshare_webdoc_radio{ :type => "radio", :name => "share", :value => "off" }
    %span.label= t('.document_forms.share_document_dialog.unshare_radio')
    %br
    %input#share_webdoc_radio{ :type => "radio", :name => "share", :value => "on" }
    %span.label= t('.document_forms.share_document_dialog.share_radio')
    %br
    %span.label= t('.document_forms.share_document_dialog.shared_address_label')
    %br
    %input#shared_webdoc_url{ :type => "text", :size => 40}

%div.footer-bar.bar
  %div.wrap.clear
    Footer

:javascript
    var WebDoc;
    if (!WebDoc) {
      WebDoc = {};
    }
    WebDoc.authData = {
      authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
      sessionKeyName:"#{session_key_name}",
      cookiesSessionKeyName:"#{cookies[session_key_name]}"
    };
    WebDoc.run = function() {
      var editor = new WebDoc.DocumentEditor();
      editor.start();
    }