<%= javascript_include_tag 'com/mnemis/wb/core/WBDocumentEditor' %>
<script type="text/javascript">
  $(function()
    {
      var AUTH_TOKEN = "<%=  protect_against_forgery? ? form_authenticity_token : '' %>";
      $.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
      var editor = new com.mnemis.wb.core.WBDocumentEditor();
      editor.start();
    });
</script>
<div class="ui-widget">
<div id="wb-document-header">
  <button id="wb-create-document-button" class="ui-button ui-state-default ui-corner-all"><%=t 'button.new_document'%> </button>
</div>
<div id="wb-document-navigation" class="wb-navigation">
  <div id="wb-document-navigation-title" class="wb-navigation-title"><%=t 'label.documents'%> </div>
  <div><%=t 'label.all_items'%></div>
  <div><a id="wb-document-filter-date" href="#by_date"><%=t 'label.by_date'%></a></div>
</div>
<div id="wb-document-list-container">
</div>
</div>

<div id="wb-new-document-dialog" title="<%=t 'label.create_new_document' %>">
	<form action="">
          <fieldset>
                  <label for="name"><%= t "label.name" %></label><br/>
                  <input type="text" name="wb-new-document-name" id="wb-new-document-name" class="ui-widget-content ui-corner-all" /><br/>
                  <label for="creationDate"><%= t "label.creationDate" %></label><br/>
                  <input disabled="true" type="text" name="wb-new-document-creationDate" id="wb-new-document-creationDate" class="ui-widget-content ui-corner-all" />
          </fieldset>
	</form>
</div>

<div id="wb-edit-document-dialog" title="<%=t 'label.edit_document' %>">
	<form action="">
          <fieldset>
                  <label for="name"><%= t "label.name" %></label><br/>
                  <input type="text" name="wb-edit-document-name" id="wb-edit-document-name" class="ui-widget-content ui-corner-all" /><br/>
                  <label for="creationDate"><%= t "label.creationDate" %></label><br/>
                  <input disabled="true" type="text" name="wb-edit-document-creationDate" id="wb-edit-document-creationDate" class="ui-widget-content ui-corner-all" />
          </fieldset>
	</form>
</div>