- session_key_name = ActionController::Base.session_options[:key]

%div.action-zone.zone
  %div.wrap
    %a#wb-create-document-button.add-button.button= t('.buttons.new_document')
    %ul.document-tabs.tabs.index
      %li>
        %a#wb-document-filter-date.button.current.state-filter-tab{ :href => "#filter-by-date" }= t('.all_items_by_date')
      %li>
        %a#wb-document-filter-public.button.state-filter-tab{ :href => "#filter-public" }= t('.public')

%div.content
  %div.wrap
    %div.column.one.double.of-three>
      %dl#document-subtabs.bar.index.state-public-hide
        %dt>
          Filter webdocs by
        %dd>
          %a#wb-document-filter-owned-by-me.current.state-filter-subtab{ :href => "#filter-author" }= t('.created_by_me')
        %dd>
          %a#wb-document-filter-editor-rights.state-filter-subtab{ :href => "#filter-editable" }= t('.editor_rights')
        %dd>
          %a#wb-document-filter-shared-with-me.state-filter-subtab{ :href => "#filter-shared" }= t('.shared_with_me')
      
      %div#wb-document-list-container
    
    %div.column.three.of-three.state-public-show>
      %h4 Public webdocs
      %p Shared webdocs.
    %div.column.three.of-three.state-public-hide>
      %h4 Manage your Webdocs
      %p Create your own new webdoc, or choose a webdoc to view from the list.
      %p You can <strong>invite</strong> other people to help you edit your webdocs, and when you're ready to show them to the world, click <strong>share</strong>. You can choose to share your webdoc with just your friends, or with everybody on the world wide&nbsp;web.
    
#wb-new-document-dialog{ :style => "display:none", :title => t('.create_new_document') }
  %form#wb-new-form.new-form{ :action => "", :title => t('.create_new_document') }
    %h4#new-document-dialog-header Create new webdoc
    %fieldset
      %div.stack
        %label{ :for => "name" }= t ".document_forms.name"
        %input#wb-new-document-name.ui-corner-all{ :type => "text", :name => "wb-new-document-name", :placeholder => "My new webdoc" }
      %div.stack
        %label{ :for => "category" }= t ".document_forms.category"
        %select#wb-new-document-category
      %div.stack
        %label{ :for => "description" }= t ".document_forms.description"
        %textarea#wb-new-document-description.ui-corner-all{ :rows => "3", :name => "wb-new-document-description" }
      
    %fieldset
      %legend= t ".document_forms.document_size_title"
      
      %div.column.one.of-three
        %label
          %input#wb-new-document-size-custom{ :type => "radio", :name => "wb-new-document-size", :value => "custom" }
          = t('.document_forms.document_size.custom')
      %div.shunt.column.two.of-three>
        %label= t('.document_forms.document_size.width')
        %input#wb-new-document-size-custom-width{ :type => "text" , :size => 6}
      %div.shunt.column.three.of-three>
        %label= t('.document_forms.document_size.height')
        %input#wb-new-document-size-custom-height{ :type => "text" , :size => 6}
      
      %div
        %label
          %input#wb-new-document-size-iPhone{ :type => "radio", :name => "wb-new-document-size", :value => "iPhone" }
          = t('.document_forms.document_size.iPhone')
      %div
        %label
          %input#wb-new-document-size-classic{ :type => "radio", :name => "wb-new-document-size", :value => "classic" }
          = t('.document_forms.document_size.classic')
      %div
        %label
          %input#wb-new-document-size-iPad{ :type => "radio", :name => "wb-new-document-size", :value => "iPad" }
          = t('.document_forms.document_size.iPad')
    
    %div.ui-actions
      %a{ :href => '#cancel', :class => 'cancel' } cancel
      %input{ :type => 'submit', :name => 'new-document', :value => 'Create' }

#wb-change-access-dialog.collaborate-dialog{ :style => "display: none" }

  %form.column.one.triple.of-five
    %h4 Invite new editors
    %p= t('.document_forms.change_access_dialog.add_editors_explanation')
    
    %fieldset
      %div.stack
        %label= t('.document_forms.change_access_dialog.add_editors')
        %textarea#wb-invitation-add-editors{ :rows => 1, :cols => 20}
        #wb-invitation-failed
      %div.stack
        %label= t('.document_forms.change_access_dialog.add_editors_message')
        %textarea#wb-invitation-add-editors-message{ :rows => 3, :cols => 20}
    
    %div.ui-actions.state-readonly-hide
      %a{ :href => '#cancel', :class => 'cancel' } cancel
      %input{ :type => 'submit', :name => 'new-document', :value => 'Create' }
  
  %div.column.last.double.of-five#wb-access-list{ :style => "overflow: hidden;" }>
    %h4 Current editors
    %ul#document_access_list.vertical.divided.index
  
#wb-share-document-dialog.share-dialog{ :style => "display:none", :title => t('.document_forms.share_document_dialog.title') }
  %form.column.one.triple.of-five>
    %h4 Share
    
    %fieldset
      %p Share your webdoc with
      %div.bar
        %input#unshare_webdoc_radio{ :type => "radio", :name => "share", :value => "off" }
        %label{ :for => "unshare_webdoc_radio" } other webdoc members
        %input#share_webdoc_radio{ :type => "radio", :name => "share", :value => "on" }
        %label{ :for => "share_webdoc_radio" } the whole internet
    
    %fieldset.state-unshared-hide
      %label{ :for => "shared_webdoc_url" }= t('.document_forms.share_document_dialog.shared_address_label')
      %input#shared_webdoc_url{ :type => "text", :size => 40 }
      %p.unshare-related= t('.document_forms.share_document_dialog.with_friends')
    
    %fieldset
      %div.stack
        %label Email addresses
        %textarea#wb-invitation-add-readers{ :rows => 1, :cols => 20}
        #wb-readers-invitation-failed
      
      %div.stack
        %label= t('.document_forms.change_access_dialog.add_readers_message')
        %textarea#wb-invitation-add-readers-message{ :rows => 3, :cols => 20 }
    
    %div.ui-actions
      %a{ :href => '#cancel', :class => 'cancel' } cancel
      %input{ :type => 'submit', :name => 'new-document', :value => 'Make it so' }

  #wb-document-share-tabs.column.last.double.of-five
    %h4 Shared with
    #wb-shared-users-list-tab.unshare-related
    %ul#document_readers_list


:javascript
    var WebDoc;
    if (!WebDoc) {
      WebDoc = {};
    }
    WebDoc.authData = {
      authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
      sessionKeyName:"#{session_key_name}",
      cookiesSessionKeyName:"#{cookies[session_key_name]}"
    };
    WebDoc.run = function() {
      var editor = new WebDoc.DocumentEditor();
      editor.start();
    }