 <% javascript_tag  do -%>
      $(function() {
      var offline = false;
        var document_page_urls = ['/documents', '/'];
        <% @documents.each do |document| -%>
            document_page_urls.push('<%=  document_path(document) %>');
            if (!offline) {
              $.ajax({
                    timeout: 2000,
                    async: false,
                    type: "GET",
                    url: "<%=  document_path(document) %>" + "/resources",
                    dataType: "json",
                    success: function(data) {
                      var resources = data.mediasUrl;
                      jQuery.each(resources, function(i, value) {
                      document_page_urls.push(value);
                      });
                    },
                    error: function() { offline = true;}
              });
            }
            <% document.pages.each do |page| -%>
              document_page_urls.push('<%=  page.thumbnail_url%>');
              document_page_urls.push('<%=  url_for :controller => 'pages',  :action => 'proto', :id => page.id, :document_id => document.id%>');
            <% end -%>
        <% end -%>
        com.mnemis.core.capture(document_page_urls);
      });
  <% end -%>
<h1>Personal</h1>
<% if (@documents.nil? || @documents.empty?)  -%>
<div class="ub-empty-document-list">Empty list</div>
<% else  -%>
<ul id="documents" class="document_list">
  <% @documents.each do |document| -%>
    <li id="document_<%= document.id %>"><div class="ub-document-title"><%= document.title%></div><center><%= link_to image_tag(document.pages.first.thumbnail_url(), :size => '200x150'), document_path(document) %></center>
      <%= button_to 'Remove', document_path(document), :method => :delete, :confirm => 'Document will be removed from WEB access. Are you sure?' %>
    </li>
  <% end -%>
</ul>
<% end  -%>
<h1>Public</h1>
<% if (@public_documents.nil? || @public_documents.empty?)  -%>
  <div class="ub-empty-document-list">Empty list</div>
<% else  -%>
<ul id="documents" class="document_list">
  <% @public_documents.each do |document| -%>
    <li id="document_<%= document.id %>"><div class="ub-document-title"><%= document.title%></div><center><%= link_to image_tag(document.pages.first.thumbnail_url(), :size => '200x150'), document_path(document) %></center>
    </li>
  <% end -%>
</ul>
<% end  -%>