#wb-document-main.ui-widget
  #wb-document-header
    %button#wb-create-document-button.ui-button.ui-state-default.ui-corner-all= t('button.new_document')

  #wb-document-navigation.wb-navigation
    %h2#wb-document-navigation-title.wb-navigation-title= t('label.documents')
    %ul
      %li
        %a#wb-document-filter-date{ :href => "#by_date"}= t('label.all_items_by_date')
      %li
        %a#wb-document-filter-owned-by-me.active{ :href => "#owned_by_me"}= t('label.owned_by_me')
      %li
        %a#wb-document-filter-shared-with-me-as-editor{ :href => "#shared_as_editor"}= t('label.shared_with_me_as_editor')
      %li
        %a#wb-document-filter-shared-with-me-as-viewer{ :href => "#shared_as_viewer"}= t('label.shared_with_me_as_viewer')
  #wb-document-list-container

#wb-new-document-dialog{ :display => "none", :title => t('label.create_new_document') }
  %form{ :action => ""}
    %fieldset
      %label{ :for => "name" }= t "label.name"
      %br
      %input#wb-new-document-name.ui-corner-all{ :type => "text", :name => "wb-new-document-name", :style => "width:100%"}
      %br
      %label{ :for => "creationDate" }= t "label.creationDate"
      %br
      %input#wb-new-document-creationDate.ui-corner-all{ :disabled => "true", :type => "text", :name => "wb-new-document-creationDate", :style => "width:100%"}

#wb-edit-document-dialog{ :display => "none",:title => t('label.edit_document') }
  %form{ :action => ""}
    %fieldset
      %label{ :for => "name" }= t "label.name"
      %br
      %input#wb-edit-document-name.ui-corner-all{ :type => "text", :name => "wb-edit-document-name", :style => "width:100%"}
      %br
      %label{ :for => "creationDate" }= t "label.creationDate"
      %br
      %input#wb-edit-document-creationDate.ui-corner-all{ :disabled => "true", :type => "text", :name => "wb-edit-document-creationDate", :style => "width:100%"}      

#wb-change-access-dialog{ :display => "none",:title => t('label.change_access_document') }
  #document_access-header
    %button#add_access.ui-button.ui-state-default.ui-corner-all= t('button.add_access')
  %ul#document_access_list

:javascript
  $(function()
  {
      var AUTH_TOKEN = "<%=  protect_against_forgery? ? form_authenticity_token : '' %>";
      $.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
      var editor = new WebDoc.DocumentEditor();
      editor.start();
  }); 