- title @document.title
#toolbar_1.toolbar
  %ul
    %li#add-page
      %a{ :href => "#" , :title => "Add a page"}
        %img{ :src => "/images/icons/add_page.png", :alt =>"Add a page"}
    %li#full_sreen
      %a{ :href => "#" , :title => "Enter full screen mode"}
        %img{ :src => "/images/icons/fullscreen.png", :alt =>"Enter full screen mode"}
    %li#invite
      %a{ :href => "#" , :title => "#"}
        %img{ :src => "/images/icons/collaborate.png", :alt =>"Invite collaborator"}        
  %ul        
    %li#undo
      %a{ :href => "#" , :title => "Enter full screen mode"}
        %img{ :src => "/images/icons/undo.png", :alt =>"Undo"}
    %li#redo
      %a{ :href => "#" , :title => "#"}
        %img{ :src => "/images/icons/redo.png", :alt =>"Redo"}
  %ul#settings
    %li
      %a{ :href => "#"}
        %img{ :src => "/images/icons/settings.png", :alt => "Document settings"}

#toolbar_2.toolbar
  %ul.container
    %li#tool_arrow
      %a{ :href => "#" , :title => "Selection tool"}
        %img{ :src => "/images/icons/cursor.png", :alt =>"Selection tool"}
    %li#tool_text
      %a{ :href => "#" , :title => "Text tool"}
        %img{ :src => "/images/icons/text.png", :alt =>"Text tool"}
    %li#tool_pen
      %a{ :href => "#" , :title => "Pen tool"}
        %img{ :src => "/images/icons/pen.png", :alt =>"Pen tool"}
    %li#html_snipplet
      %a{ :href => "#" , :title => "HTML"}
        %img{ :src => "/images/icons/code.png", :alt =>"HTML"}   
    %li#remove_selection
      %a{ :href => "#" , :title => "Remove"}
        %img{ :src => "/images/icons/delete.png", :alt =>"Remove"}     
  %ul
    %li#zoom-in
      %a{ :href => "#" , :title => "Zoom In"}
        %img{ :src => "/images/icons/zoom_in.png", :alt =>"Zoom in"}
    %li#zoom-out
      %a{ :href => "#" , :title => "Zoom Out"}
        %img{ :src => "/images/icons/zoom_out.png", :alt =>"Zoom Out"}
    %li#tool_hand
      %a{ :href => "#" , :title => "Pan"}
        %img{ :src => "/images/icons/pan.png", :alt =>"Pan"}
  %ul
    %li#previous-page
      %a{ :href => "#" , :title => "Arrow Left"}
        %img{ :src => "/images/icons/arrow_left.png", :alt =>"Arrow Left"}
    %li
      %a{ :href => "#" , :title => "Browse"}
        %img{ :src => "/images/icons/browse.png", :alt =>"Browse"}
    %li#next-page
      %a{ :href => "#" , :title => "Arrow Right"}
        %img{ :src => "/images/icons/arrow_right.png", :alt =>"Arrow Right"}      
#content
  #inspector
    #palette_text.palette_wrap
      %ul.palette{ :style => "display:block" }
        %li
          %a.bold{ :href => "" }
            %span= "Bold"
        %li
          %a.italic{ :href => "" }
            %span= "Italic"
        %li
          %a.underline{ :href => "" }
            %span= "Underlined"
        %li
          %a.justifyLeft{ :href => "" }
            %span= "Left"
        %li
          %a.justifyCenter{ :href => "" }
            %span= "Center"
        %li
          %a.justifyRight{ :href => "" }
            %span= "Right"
        %li
          %a.justifyFull{ :href => "" }
            %span= "Justify"
        %li
          %a.insertUnorderedList{ :href => "" }
            %span= "Bullet List"
        %li
          %a.insertOrderedList{ :href => "" }
            %span= "Numbered List"
        %li
          %a.indent{ :href => "" }
            %span= "Indent"
        %li
          %a.outdent{ :href => "" }
            %span= "Outdent"
      .palette_overlay
    #page_css_editor_wrap
      %textarea#page_css_editor
    #selected_item_html_wrap
      %textarea#selected_item_html_editor  
    #image_library_wrap
      %ul
    #widget_library_wrap
      %ul          
  #board_container
:javascript
  $(function()
  {
    var AUTH_TOKEN = "#{protect_against_forgery? ? form_authenticity_token : ''}";
    $.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
    var editor = new WebDoc.PageEditor();
    editor.load("#{@document.uuid}");
  }); 
  
  