<h2><%= @document.title %></h2>
<ul id="document_<%= @document.id %>" class="page_list">
  <% @document.pages.each do |page| -%>
    <li id="page_<%= page.id %>">
      <a href="<%= document_page_path(@document, page) %>">
        <img style="width:200px; height:150px" src="<%= page.thumbnail_url %>" alt="<%= document_page_path(@document, page) %>">
      </a>
    </li>
  <% end -%>
</ul>