  <!-- workspace -->
  
  <div class="title_wrap site_wrap wrap">
    <h1><%= @document.title %></h1>
  </div>
  
  <section class="workspace_wrap site_wrap wrap">
    <div class="editor_wrap wrap">
      
      <!-- webdoc -->
      
      <div id="webdoc" class="webdoc scroll layer">
        <div class="center">
          <div class="center_cell">
            <div id="board-container" class="center_box">
            </div>
          </div>
          <div id="right-panel-ghost">
            <div class="panel-ghost"></div>
          </div>
        </div>
      </div>
      
     <!-- ui elements -->
     
     <!--div id="webdoc_x_scrollbar" class="x_scrollbar_container">
       <div class="x_scrollbar scrollbar"></div>
     </div>
     
     <div id="webdoc_y_scrollbar" class="y_scrollbar_container">
       <div id="scrollbar_y" class="y_scrollbar scrollbar"></div>
     </div-->
     
     <div id="webdoc_loading" class="loading loading_icon layer"></div>
      
      <!-- panels -->
      
      <div class="side_panel panel">
        <h2>Authors</h2>
        <% @document.editors.each do |editor| %>
          <% if editor == current_user %>
            <%= render :partial => "followships/card", :locals => { :user => editor } %>
          <% else %>
            <%= render :partial => "followships/card", :locals => { :user => editor, :subscribed => @document.creator.follower?(current_user) } %>
          <% end %>
        <% end %>
        <!-- <ul class="horizontal author_index index">
          <li><a href="/" class="author_thumb thumb">author</a></li
         ><li><a href="/" class="author_thumb thumb">author</a></li
         ><li><a href="/" class="author_thumb thumb">author</a></li
         ><li><a href="/" class="author_thumb thumb">author</a></li
         ><li><a href="/" class="author_thumb thumb">author</a></li
         ><li><a href="/" class="author_thumb thumb">author</a></li>
        </ul> -->
        
        <h2>Currently on this webdoc</h2>
        
        <ul class="horizontal reader_index index">
          <li><a href="/" class="user_thumb thumb">User Name</a></li
         ><li><a href="/" class="user_thumb thumb">User Name</a></li
         ><li><a href="/" class="user_thumb thumb">User Name</a></li
         ><li><a href="/" class="user_thumb thumb">User Name</a></li
         ><li><a href="/" class="user_thumb thumb">User Name</a></li
         ><li><a href="/" class="user_thumb thumb">User Name</a></li>
        </ul>
        
        <h2>Statistics</h2>
        
        <div>views <%= @document.views_count %></div>
        
        <h2>Recent Activity</h2>
        
        <ul class="vertical message_index index">
          <li><a href="/" class="user_thumb thumb">User Name</a><p class="message">Message</p></li>
          <li><a href="/" class="user_thumb thumb">User Name</a><p class="message">Message</p></li>
          <li><a href="/" class="user_thumb thumb">User Name</a><p class="message">Message</p></li>
          <li><a href="/" class="user_thumb thumb">User Name</a><p class="message">Message</p></li>
          <li><a href="/" class="user_thumb thumb">User Name</a><p class="message">Message</p></li>
          <li><a href="/" class="user_thumb thumb">User Name</a><p class="message">Message</p></li>
        </ul>
        
        <h2>More from these authors</h2>
        <ul class="vertical thumbs_index index">
          <% (0..(@more_author_documents.length - 1)).step(1) do |i| %>
            <%= render 'thumbnail', :document => @more_author_documents[i]%>
          <% end %>
        </ul>
      </div>
      
      <%= render "documents/panels/toolbar_panel" %>
      <%= render "documents/panels/controls_panel" %>
      <%= render "documents/inspectors/document_inspector" %>
      <%= render "documents/panels/discussions_panel" %>
      <%= render "documents/panels/my_content_panel" %>
      <%= render "documents/panels/apps_panel" %>
      <%= render "documents/panels/packages_panel" %>
      <%= render "documents/panels/browse_web_panel" %>
      <%= render "documents/inspectors/document_inspector" %>
      <%#= render :partial => "documents/panels/social_panel" %>
  		<%= render "documents/inspectors/page_inspector" %>
      <%= render "documents/panels/pages_panel" %>
      <%= render "documents/panels/right_panel" %>
    </div>
  </section>
  
  <%= render "relatedcontent", :documents => @related_documents %>