- document_title @document.title
- session_key_name = ActionController::Base.session_options[:key]

#board_container.hide-scroll.board-panel.panel
  #screen.screen.layer
  #document_loading
    %img{ :src => "/images/icons/waiting_bar.gif"}
    
= render :partial => "layouts/main_editor_toolbar"

#toolbar.toolbar-panel.panel
  %ul.panel-tools.tools.thumbs.index.icons-only.preview_hidden
    -# Whitespace is removed between lis to preserve layout
    %li>
      %a{ :href => "#left-panel-toggle", :title => "Left Panel" }
        Left Panel

  %ul.pages-tools.tools.thumbs.index.icons-only
    -# Whitespace is removed between lis to preserve layout
    %li>
      %a{ :href => "#pages-browser", :title => "Pages browser" }
        Pages
    -#%li#removePage.preview_hidden>
    -#  %a{ :href => "#" , :title => "Remove this page", :style => "background-position: 0 0; background-image: url('/images/icons/page_remove.png');" }
    -#    Delete
    %li>
      %a{ :href => "#prev-page" , :title => "Previous page" }
        Prev
    %li>
      %a{ :href => "#next-page" , :title => "Next Page" }
        Next
    -#%li#layout_selector.preview_hidden>
    -#  %a{ :href => "#layouts" , :title =>"Choose layout" }
    -#    Layout
    -#%li#theme_selector.preview_hidden>
    -#  %a{ :href => "#themes" , :title =>"Change theme" }
    -#    Theme
    %li.preview_hidden>
      %a{ :href => "#add-page", :title => "Add new page" }
        Add
    
  %ul#view_tools.edit-tools.tools.thumbs.index.icons-only
    -# Whitespace is removed between lis to preserve layout
    %li>
      %a{ :href => "#zoom-in" , :title => "Zoom In" }
        Zoom in
    %li>
      %a{ :href => "#zoom-out" , :title => "Zoom Out" }
        Zoom out
    %li>
      %a.state-tool{ :href => "#move" , :title => "Move" }
        Move
  
  %ul#edit_tools.edit-tools.tools.thumbs.index.icons-only.preview_hidden
    -# Whitespace is removed between lis to preserve layout
    %li#undo>
      %a{ :href => "#undo" , :title => "Undo" }
        Undo
    %li#redo>
      %a{ :href => "#redo" , :title => "Redo" }
        Redo
    %li>
      %a{ :href => "#to-back" , :title => "Move to back" }
        To back
    %li>
      %a{ :href => "#to-front" , :title => "Move to front" }
        To front
    %li>
      %a{ :href => "#delete" , :title => "Delete" }
        Delete
  
  %ul#misc_tools.edit-tools.tools.thumbs.index.icons-only
    -# Whitespace is removed between lis to preserve layout
    %li>
      %a.state-tool{ :href => "#select" , :title => "Select" }
        Select
    %li.preview_hidden>
      %a{ :href => "#insert-html" , :title => "Insert an HTML snippet" }
        HTML
    %li.preview_hidden>
      %a{ :href => "#insert-text" , :title => "Insert a Text box" }
        Text
    %li.preview_hidden>
      %a.state-tool{ :href => "#draw" , :title => "Draw" }
        Draw

  %ul#toggle_inspector_wrap.panel-tools.tools.thumbs.index.icons-only.preview_hidden
    -# Whitespace is removed between lis to preserve layout
    %li#toggle_inspector>
      %a{ :href => "#right-panel-toggle", :title => "Toggle Inspector" }
        Inspector
  
  %ul#right_bar_tools.panel-tools.tools.thumbs.index.icons-only.preview_hidden
    -# Whitespace is removed between lis to preserve layout
    %li#lib_view>
      %a{ :href => "#library", :title => "Show Library" }
        Library
    %li#item_inspector_view.current_right_item>
      %a{ :href => "#inspector", :title => "Show Inspector" }                      
        Item
    %li#page_inspector_view>
      %a{ :href => "#page-inspector", :title => "Show Page inspector" }
        Page

#left_bar.left-panel.panel
  #page_browser_left.pages-browser.inspector
    #page_browser_container.content
      -#%ul.page_browser_numbered_list.vertical.numbers.index
      %ul.page_browser_items.vertical.pages.index
    #page_browser_control_bar.foot
      %ul.pages-tools.tools.thumbs.index.icons-only
        %li>
          %a{ :href => "#add-page", :title => "Add page" }
            Add
        %li>
          %a{ :href => "#add-web-page", :title => "Add web page" }
            Add Web
        %li>
          %a{ :href => "#copy-page", :title => "Copy page" }
            Copy
        %li>
          %a{ :href => "#remove-page", :title => "Copy page" }
            Remove
        %li>
          %a{ :href => "#toggle-thumbs", :title => "Thumbnails" }
            Add

#right_bar.right-panel.panel
  = render :partial => 'item_inspector'
  = render :partial => 'library'
  = render :partial => 'page_inspector'
:javascript
  
    var WebDoc;
    if (!WebDoc) {
      WebDoc = {};
    }
    WebDoc.authData = {
      authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
      sessionKeyName:"#{session_key_name}",
      cookiesSessionKeyName:"#{cookies[session_key_name]}"
    };
    WebDoc.run = function() {
      var editor = new WebDoc.PageEditor(#{@is_reader?'false':'true'});
      editor.load("#{@document.uuid}");
    } 