- document_title @document.title
- session_key_name = ActionController::Base.session_options[:key]
= render :partial => "layouts/main_editor_toolbar"
#tb_2.tb
  %ul#pages_tools.left_tb_group
    -# Whitespace is removed between lis to preserve layout
    %li#addPage.tb_button.action_button.preview_hidden>
      %a{ :href => "#" , :title =>"Add a page"}
        %img{ :src => "/images/icons/add_page.png", :alt =>"Add a page"}
    %li#removePage.tb_button.action_button.preview_hidden>
      %a{ :href => "#" , :title => "Remove this page"}
    %li#page_browser.tb_button.action_button>
      %a{ :href => "" , :title => "Open page browser"}
    %li#previousPage.tb_button.action_button>
      %a{ :href => "" , :title => "Previous page"}
        %img{ :src => "/images/icons/arrow_left.png", :alt =>"Arrow Left"}
    %li#nextPage.tb_button.action_button
      %a{ :href => "" , :title => "Next Page"}
        %img{ :src => "/images/icons/arrow_right.png", :alt =>"Arrow Right"}
    %li#layout_selector.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title =>"Choose a layout"}
        %img{ :src => "/images/icons/layout.png", :alt =>"Choose a layout"}
    %li#theme_selector.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title =>"Change theme"}
        %img{ :src => "/images/icons/theme.png", :alt =>"Change theme"}
  %ul#view_tools.left_tb_group
    %li#zoom_in.tb_button.action_button
      %a{ :href => "" , :title => "Zoom In"}
        %img{ :src => "/images/icons/zoom_in.png", :alt =>"Zoom in"}
    %li#zoom_out.tb_button.action_button
      %a{ :href => "" , :title => "Zoom Out"}
        %img{ :src => "/images/icons/zoom_out.png", :alt =>"Zoom Out"}
    %li#tool_hand.tb_button.action_button.state_tool
      %a{ :href => "" , :title => "Pan"}
        %img{ :src => "/images/icons/pan.png", :alt =>"Pan"}
  %ul#edit_tools.left_tb_group.preview_hidden
    %li#undo.tb_button.action_button
      %a{ :href => "" , :title => "Undo"}
        %img{ :src => "/images/icons/undo.png", :alt =>"Undo"}
    %li#redo.tb_button.action_button
      %a{ :href => "" , :title => "Redo"}
        %img{ :src => "/images/icons/redo.png", :alt =>"Redo"}
    %li#delete_item.tb_button.action_button
      %a{ :href => "#" , :title => "Remove"}
        %img{ :src => "/images/icons/delete.png", :alt =>"Remove"}
  %ul#misc_tools.left_tb_group.last_tb_group
    %li#tool_arrow.tb_button.action_button.state_tool
      %a{ :href => "#" , :title => "Select"}
        %img{ :src => "/images/icons/cursor.png", :alt =>"Selection tool"}
    %li#html_snipplet.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title => "Insert an HTML snippet"}
        %img{ :src => "/images/icons/code.png", :alt =>"HTML code"}
    %li#tool_text.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title => "Insert a Text box"}
        %img{ :src => "/images/icons/text.png", :alt =>"Text tool"}
    %li#tool_pen.tb_button.action_button.preview_hidden.state_tool
      %a{ :href => "#" , :title => "Draw"}
        %img{ :src => "/images/icons/pen.png", :alt =>"Pen tool"}

  %ul#toggle_inspector_wrap.preview_hidden.right_tb_group
    %li#toggle_inspector.tb_button.action_button
      %a{ :href => "", :title => "Toggle Inspector"}
        %img{ :src => "/images/icons/inspector.png", :alt => "Toggle Inspector"}
  %ul#right_bar_tools.preview_hidden.right_tb_group.last_tb_group
    %li#lib_view.tb_button.action_button
      %a{ :href => "", :title => "Show Library"}
        %img{ :src => "/images/icons/library.png", :alt => "Show Library"}  
    %li#page_inspector_view.tb_button.action_button
      %a{ :href => "", :title => "Show Page inspector"}
        %img{ :src => "/images/icons/page.png", :alt => "Show Page inspector"}
    %li#item_inspector_view.tb_button.action_button.current_right_item
      %a{ :href => "", :title => "Show Item inspector"}
        %img{ :src => "/images/icons/info.png", :alt => "Show Item inspector"}                        
#content{ :style => "display:none"}
  #left_bar
    #page_browser 
      %ul 
  #right_bar{ :style => "display:none"}
    = render :partial => 'item_inspector'
    = render :partial => 'library'
    = render :partial => 'page_inspector'

  #board_container
    #document_loading
      %img{ :src => "/images/icons/waiting_bar.gif"}
:javascript
  $(function()
  {
    WebDoc.authData = {
      authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
      sessionKeyName:"#{session_key_name}",
      cookiesSessionKeyName:"#{cookies[session_key_name]}"
    };
    $.ajaxSetup({data:{authenticity_token : WebDoc.authData.authToken}});
    $("body").css("overflow", "hidden");
    var editor = new WebDoc.PageEditor(#{@is_reader?'false':'true'});
    editor.load("#{@document.uuid}");
  });   