- document_title @document.title
- session_key_name = ActionController::Base.session_options[:key]
= render :partial => "layouts/main_editor_toolbar"
#tb_2.tb
  %ul#pages_tools.left_tb_group
    %li#addPage.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title =>"Add a page"}
        %img{ :src => "/images/icons/add_page.png", :alt =>"Add a page"}
    %li#removePage.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title => "Remove this page"}
    %li#page_browser.tb_button.action_button
      %a{ :href => "" , :title => "Open page browser"}
    %li#previousPage.tb_button.action_button
      %a{ :href => "" , :title => "Previous page"}
        %img{ :src => "/images/icons/arrow_left.png", :alt =>"Arrow Left"}
    %li#nextPage.tb_button.action_button
      %a{ :href => "" , :title => "Next Page"}
        %img{ :src => "/images/icons/arrow_right.png", :alt =>"Arrow Right"}
    %li#layout_selector.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title =>"Choose a layout"}
        %img{ :src => "/images/icons/layout.png", :alt =>"Choose a layout"}
    %li#theme_selector.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title =>"Change theme"}
        %img{ :src => "/images/icons/theme.png", :alt =>"Change theme"}
  %ul#view_tools.left_tb_group
    %li#zoom_in.tb_button.action_button
      %a{ :href => "" , :title => "Zoom In"}
        %img{ :src => "/images/icons/zoom_in.png", :alt =>"Zoom in"}
    %li#zoom_out.tb_button.action_button
      %a{ :href => "" , :title => "Zoom Out"}
        %img{ :src => "/images/icons/zoom_out.png", :alt =>"Zoom Out"}
    %li#tool_hand.tb_button.action_button.state_tool
      %a{ :href => "" , :title => "Pan"}
        %img{ :src => "/images/icons/pan.png", :alt =>"Pan"}
  %ul#edit_tools.left_tb_group.preview_hidden
    %li#undo.tb_button.action_button
      %a{ :href => "" , :title => "Undo"}
        %img{ :src => "/images/icons/undo.png", :alt =>"Undo"}
    %li#redo.tb_button.action_button
      %a{ :href => "" , :title => "Redo"}
        %img{ :src => "/images/icons/redo.png", :alt =>"Redo"}
    %li#delete_item.tb_button.action_button
      %a{ :href => "#" , :title => "Remove"}
        %img{ :src => "/images/icons/delete.png", :alt =>"Remove"}
  %ul#misc_tools.left_tb_group.last_tb_group
    %li#tool_arrow.tb_button.action_button.state_tool
      %a{ :href => "#" , :title => "Select"}
        %img{ :src => "/images/icons/cursor.png", :alt =>"Selection tool"}
    %li#html_snipplet.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title => "Insert an HTML snippet"}
        %img{ :src => "/images/icons/code.png", :alt =>"HTML code"}
    %li#tool_text.tb_button.action_button.preview_hidden
      %a{ :href => "#" , :title => "Insert a Text box"}
        %img{ :src => "/images/icons/text.png", :alt =>"Text tool"}
    %li#tool_pen.tb_button.action_button.preview_hidden.state_tool
      %a{ :href => "#" , :title => "Draw"}
        %img{ :src => "/images/icons/pen.png", :alt =>"Pen tool"}

  %ul#toggle_inspector_wrap.preview_hidden.right_tb_group
    %li#toggle_inspector.tb_button.action_button
      %a{ :href => "", :title => "Toggle Inspector"}
        %img{ :src => "/images/icons/inspector.png", :alt => "Toggle Inspector"}
  %ul#lib_tools.preview_hidden.right_tb_group.last_tb_group
    %li#lib_view.tb_button.action_button
      %a{ :href => "", :title => "Show Library"}
        %img{ :src => "/images/icons/library.png", :alt => "Show Library"}        
#content{ :style => "display:none"}
  #left_bar
    #page_browser 
      %ul 
  #right_bar{ :style => "display:none"}
    #inspectors
      %h3
        %a{ :href => "" } Page inspector
      #page_inspector.inspector
        %label Use external page
        %input#external_page_checkbox{ :type => "checkbox"}
        %textarea#page_css_editor
        #external_page_panel{ :style => "display:none"}
          %div
            %label Allow annotation
            %input#allow_annotation_checkbox{ :type => "checkbox"}        
          %div
            %label URL
            %input#external_page_url
      %h3
        %a{ :href => "" } Palette
      #palette_inspector.inspector
        #palette_text.palette
          %ul{ :style => "display:block" }
            %li
              %a.bold{ :href => "" }
                %span= "Bold"
            %li
              %a.italic{ :href => "" }
                %span= "Italic"
            %li
              %a.underline{ :href => "" }
                %span= "Underlined"
            %li
              %a.justifyLeft{ :href => "" }
                %span= "Left"
            %li
              %a.justifyCenter{ :href => "" }
                %span= "Center"
            %li
              %a.justifyRight{ :href => "" }
                %span= "Right"
            %li
              %a.justifyFull{ :href => "" }
                %img{ :src => "/images/icons/text_list.png", :alt =>"Justify"}
            %li
              %a.insertUnorderedList{ :href => "" }              
                %img{ :src => "/images/icons/text_unord_list.png", :alt =>"Bullet"}
            %li
              %a.insertOrderedList{ :href => "" }
                %img{ :src => "/images/icons/text_ord_list.png", :alt =>"Numbered"}
            %li
              %a.indent{ :href => "" }
                %img{ :src => "/images/icons/tex_indent.png", :alt =>"Indent"}                   
            %li
              %a.outdent{ :href => "" }
                %img{ :src => "/images/icons/text_outdent.png", :alt =>"Outdent"}
            %li
              Font Size 
              %select.FontSize
                %option{ :value => "default", :selected => "selected" } Choose font size
                %option{ :value => "1" } x-small
                %option{ :value => "2" } small
                %option{ :value => "3" } medium
                %option{ :value => "4" } large
                %option{ :value => "5" } x-large
                %option{ :value => "6" } xx-large
                %option{ :value => "7" } xxx-large                                                                                                            
            %li
              Font Color 
              %select.ForeColor
                %option{ :value => "default", :selected => "selected" } Choose font color
                %option{ :value => "black" } black                
                %option{ :value => "white" } white                                               
                %option{ :value => "red" } red
                %option{ :value => "green" } green
                %option{ :value => "blue" } blue
                %option{ :value => "yellow" } yellow   
            %li
              Font Family
              %select.FontName
                %option{ :value => "default", :selected => "selected" } Choose font name
                %option{ :value => "arial" } Arial
                %option{ :value => "comic sans ms" } Comic Sans
                %option{ :value => "courier new" } Courier New    
                %option{ :value => "georgia" } Georgia    
                %option{ :value => "helvetica" } Helvetica    
                %option{ :value => "impact" } Impact    
                %option{ :value => "times new roman" } Times
                %option{ :value => "trebuchet ms" } Trebuchet
                %option{ :value => "verdana" } Verdana                                                                                                    
          #palette_overlay
        #palette_pen.palette
          %ul#colors{ :style => "display:block" }
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:black" }                            
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:red" }
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:green" }                                
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:blue" }              
          %ul#sizes{ :style => "display:block" }
            %li
              %a{ :href => "1" }
                %img{ :src => "/images/icons/smallPen.png", :alt =>"Small"}                                
            %li
              %a{ :href => "5" }
                %img{ :src => "/images/icons/mediumPen.png", :alt =>"Medium"}              
            %li
              %a{ :href => "10" }
                %img{ :src => "/images/icons/largePen.png", :alt =>"Large"}                                       
        #palette_empty.palette
          %center Empty   
        %iframe#palette_widget.palette          
      %h3
        %a{ :href => "" } Properties
      #properties_inspector.inspector
        #default_properties
          %div.properties_line
            %label.properties_label Top
            %input#property_top.properties_input
          %div.properties_line
            %label.properties_label Left
            %input#property_left.properties_input
          %div.properties_line
            %label.properties_label Width
            %input#property_width.properties_input
          %div.properties_line
            %label.properties_label Height
            %input#property_height.properties_input
          %div.properties_line
            %label.properties_label Show scroll
            %input#property_scroll{ :type => "checkbox" }
          %div.properties_line
            %label.properties_label Opacity
            %input#property_opacity.properties_input
          #image_properties.properties_line{ :style => "display:none"}
            %label.properties_label Image URL
            %input#property_src.properties_input
        #empty_properties
          %center Empty                                   
      %h3
        %a{ :href => "#" }  Inner HTML
      #html_inspector.inspector
        %textarea#selected_item_html_editor 
        %div
          %label No iframe
          %input#no_iframe{ :type => "checkbox"} 
    = render :partial => 'library'

  #board_container
:javascript
  $(function()
  {
    WebDoc.authData = {
      authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
      sessionKeyName:"#{session_key_name}",
      cookiesSessionKeyName:"#{cookies[session_key_name]}"
    };
    $.ajaxSetup({data:{authenticity_token : WebDoc.authData.authToken}});
    $("body").css("overflow", "hidden");
    var editor = new WebDoc.PageEditor(#{@is_reader?'false':'true'});
    editor.load("#{@document.uuid}");
  });   