- title @document.title
#toolbar
  %button#close-page Close  
  %button#add-page Add
  %button#remove-page Remove
  %button#previous-page Previous
  %button#next-page Next
  %button#undo Undo
  %button#redo Redo
  %button#change-bkg ChangeBkg
  %button#zoom-in ZoomIn
  %button#zoom-out ZoomOut
  %button#tool-hand ToolHand
  %button#tool-arrow ToolArrow
  %button#tool-pen ToolPen
  %button#tool-text ToolText
  #text_palette.palette_wrap
    %ul.palette.disabled{ :style => "display:block" }
      %li
        %a.bold{ :href => "" }
          %span= "Bold"
      %li
        %a.italic{ :href => "" }
          %span= "Italic"
      %li
        %a.underline{ :href => "" }
          %span= "Underlined"
      %li
        %a.justifyLeft{ :href => "" }
          %span= "Left"
      %li
        %a.justifyCenter{ :href => "" }
          %span= "Center"
      %li
        %a.justifyRight{ :href => "" }
          %span= "Right"
      %li
        %a.justifyFull{ :href => "" }
          %span= "Justify"
      %li
        %a.insertUnorderedList{ :href => "" }
          %span= "Bullet List"
      %li
        %a.insertOrderedList{ :href => "" }
          %span= "Numbered List"
      %li
        %a.indent{ :href => "" }
          %span= "Indent"
      %li
        %a.outdent{ :href => "" }
          %span= "Outdent"
    .palette_overlay

#board-container
:javascript
  $(function()
  {
    var AUTH_TOKEN = "#{protect_against_forgery? ? form_authenticity_token : ''}";
    $.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
    var editor = new WebDoc.PageEditor();
    editor.load("#{@document.uuid}");
  }); 