- title @document.title
#tb_1
  %h1
    %img{ :src => "/images/logo.png", :alt =>"WebDoc logo"}
    
  %ul#tb_1_utilities
    %li#tb_1_utilities_preview
      %a{ :href => "#"}
        %img{ :src => "/images/icons/hand_pointer.png", :alt =>"Enter interactive mode"}
        interactive mode
    %li#tb_1_utilities_docname
      %h2=@document.title
      %span#current_page 3
      %span#separation /
      %span#total_page 25
    %li#tb_1_utilities_settings
      %a#tb_1_utilities_settings_trigger{ :href => "#"}
        %img{ :src => "/images/icons/settings.png", :alt => "Document settings"}
      %ul#tb_1_utilities_settings_dropdown
        %li
          %a{ :href => "#"} Save
        %li
          %a{ :href => "#"} Presentation mode
        %li
          %a{ :href => "#"} Invite collaborators
        %li
          %a{ :href => "#"} Import
        %li
          %a{ :href => "#"} Publish        
        %li
          %a{ :href => "#"} Extend Uniboard
        %li
          %a{ :href => "#"} Export
        %li
          %a{ :href => "#"} Print

#tb_2
  %ul.container
    %li#add-page
      %a{ :href => "#" , :title => "Add a page"}
        %img{ :src => "/images/icons/add_page.png", :alt =>"Add a page"}
    %li#remove-page
      %a{ :href => "#" , :title => "Remove this page"}
        %img{ :src => "/images/icons/page_remove.png", :alt =>"Remove current page"}
    %li#previous-page
      %a{ :href => "" , :title => "Previous page"}
        %img{ :src => "/images/icons/arrow_left.png", :alt =>"Arrow Left"}
    %li#next-page
      %a{ :href => "" , :title => "Next Page"}
        %img{ :src => "/images/icons/arrow_right.png", :alt =>"Arrow Right"}
    %li
      %a{ :href => "" , :title => "Browse pages"}
        %img{ :src => "/images/icons/browse.png", :alt =>"Browse"}
  %ul
    %li#zoom-in
      %a{ :href => "" , :title => "Zoom In"}
        %img{ :src => "/images/icons/zoom_in.png", :alt =>"Zoom in"}
    %li#zoom-out
      %a{ :href => "" , :title => "Zoom Out"}
        %img{ :src => "/images/icons/zoom_out.png", :alt =>"Zoom Out"}
    %li#tool_hand
      %a{ :href => "" , :title => "Pan"}
        %img{ :src => "/images/icons/pan.png", :alt =>"Pan"}
  %ul
    %li#remove_selection
      %a{ :href => "#" , :title => "Remove"}
        %img{ :src => "/images/icons/delete.png", :alt =>"Remove"}
    %li#undo
      %a{ :href => "" , :title => "Undo"}
        %img{ :src => "/images/icons/undo.png", :alt =>"Undo"}
    %li#redo
      %a{ :href => "" , :title => "Redo"}
        %img{ :src => "/images/icons/redo.png", :alt =>"Redo"}
  %ul
    %li#tool_arrow
      %a{ :href => "#" , :title => "Select"}
        %img{ :src => "/images/icons/cursor.png", :alt =>"Selection tool"}
    %li#html_snipplet
      %a{ :href => "#" , :title => "Insert an HTML snippet"}
        %img{ :src => "/images/icons/code.png", :alt =>"HTML code"}
    %li#tool_text
      %a{ :href => "#" , :title => "Insert a Text box"}
        %img{ :src => "/images/icons/text.png", :alt =>"Text tool"}
    %li#tool_pen
      %a{ :href => "#" , :title => "Draw"}
        %img{ :src => "/images/icons/pen.png", :alt =>"Pen tool"}
  %ul#lib_view
    %li
      %a{ :href => "", :title => "Show Library"}
        %img{ :src => "/images/icons/library.png", :alt => "Show Library"}         
#content
  #right_bar
    #inspector      
      %h3
        %a{ :href => "" } Page inspector
      //%iframe#chat{:src => "http://o.aolcdn.com/aim/gromit/aim_express/gm/090918.2.3893.en-us/WidgetMain.html"}
      #page_inspector
        %textarea#page_css_editor 
      %h3
        %a{ :href => "" } Palette
      #palette_inspector
        #palette_text
          %ul{ :style => "display:block" }
            %li
              %a.bold{ :href => "" }
                %span= "Bold"
            %li
              %a.italic{ :href => "" }
                %span= "Italic"
            %li
              %a.underline{ :href => "" }
                %span= "Underlined"
            %li
              %a.justifyLeft{ :href => "" }
                %span= "Left"
            %li
              %a.justifyCenter{ :href => "" }
                %span= "Center"
            %li
              %a.justifyRight{ :href => "" }
                %span= "Right"
            %li
              %a.justifyFull{ :href => "" }
                %img{ :src => "/images/icons/text_list.png", :alt =>"Justify"}
            %li
              %a.insertUnorderedList{ :href => "" }              
                %img{ :src => "/images/icons/text_unord_list.png", :alt =>"Bullet"}
            %li
              %a.insertOrderedList{ :href => "" }
                %img{ :src => "/images/icons/text_ord_list.png", :alt =>"Numbered"}
            %li
              %a.indent{ :href => "" }
                %img{ :src => "/images/icons/tex_indent.png", :alt =>"Indent"}                   
            %li
              %a.outdent{ :href => "" }
                %img{ :src => "/images/icons/text_outdent.png", :alt =>"Outdent"}
          #palette_overlay
        #palette_pen
          %ul#colors{ :style => "display:block" }
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:black" }                            
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:red" }
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:green" }                                
            %li
              %a{ :href => "" }
                %div{ :style => "background-color:blue" }              
          %ul#sizes{ :style => "display:block" }
            %li
              %a{ :href => "1" }
                %img{ :src => "/images/icons/smallPen.png", :alt =>"Small"}                                
            %li
              %a{ :href => "5" }
                %img{ :src => "/images/icons/mediumPen.png", :alt =>"Medium"}              
            %li
              %a{ :href => "10" }
                %img{ :src => "/images/icons/largePen.png", :alt =>"Large"}                         
        #palette_empty
          %center Empty             
      %h3
        %a{ :href => "" } Properties
      #properties_inspector
        #default_properties
          %div.top
            %label.properties_label Top
            %input#property_top.properties_input
          %div.left
            %label.properties_label Left
            %input#property_left.properties_input
          %div.width
            %label.properties_label Width
            %input#property_width.properties_input
          %div.height
            %label.properties_label Height
            %input#property_height.properties_input
        #empty_properties 
          %center Empty                                   
      %h3
        %a{ :href => "#" }  Inner HTML
      #html_inspector
        %textarea#selected_item_html_editor  

    #libraries{ :style => "display: none" }
      #image_library_wrap
        %ul
      #widget_library_wrap
        %ul          
  #board_container
:javascript
  $(function()
  {
    var AUTH_TOKEN = "#{protect_against_forgery? ? form_authenticity_token : ''}";
    $.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
    $("body").css("overflow", "hidden");
    var editor = new WebDoc.PageEditor();
    editor.load("#{@document.uuid}");
  }); 
  
  