<div class="action-bar bar">
  <div class="wrap clear">
    <h2>Errm... I've forgetten my password</h2>
    <form action="<%= password_path(resource_name) %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= protect_against_forgery? ? form_authenticity_token : '' %>" />
      
      <fieldset>
        <div class="stack column one of-four">
          <label for="user_<%= :email %>">Email <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :email %>" name="user[<%= :email %>]" type="text" required="required" autocomplete="on" autofocus="on" placeholder="stelio@webdoc.com" />
        </div>
      </fieldset>
      
      <fieldset>
        <div>
          <input id="user_submit" name="commit" type="submit" value="Send me password reset instructions">
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div>
  <div class="wrap clear">
    <%= render "shared/devise_links" %>
  </div>
</div>