<h1>Invitations - Invite people</h1>

<%= form_for @invitation, :url => admin_invitations_path do |f| %>
  <div>
    <%= label_tag 'invitation[message]', 'Personnal message'%>
    <%=  text_area_tag 'invitation[message]'%>
  </div>
  <div>
    <%= label_tag 'emails[]', 'Emails :'%>
    <div id="emails_list">
      <%= email_field_tag 'invitation[emails][]','' ,'data-type' => 'email'%>
    </div>
  </div>
  <a href='' id='add_email'>add_email</a>
  <div>
    <%= f.submit 'Invite !' %>
  </div>
<% end %>

<%= link_to t('back'), admin_invitations_path %>

<% content_for :scripts do %>
  <%= include_javascripts :forms %>
  <script>
    jQuery('#add_email').bind('click', function(e){
      e.preventDefault();
      var emailInput = '<input type="email" value="" name="invitation[emails][]" id="invitation_email_" data-type="email"/>'
      jQuery('#emails_list').append(emailInput);
    });
  </script>
<% end %>