<h1><%= t('.title') %></h1>

<ul>
  <li><%= link_to t('admin.widgets.index.title'), admin_widgets_path %></li>
  <li><%= link_to t('admin.themes.index.title'), admin_themes_path %></li>
  <li><%= link_to t('admin.categories.index.title'), admin_categories_path %></li>
  <li><%= link_to content_tag(:i, "Webdoc test suite"), admin_test_path %></li>
</ul>
