<h1><%= "#{t('.title')} #{@theme.title}" %></h1>

<% form_for @theme, :url => admin_theme_path(@theme), :html => { :enctype => 'multipart/form-data' } do |f| %>
  <%= f.label :attachment %>
  <%= f.file_field :attachment %>
  <%= f.label :is_default, "Set as default" %>
  <%= f.check_box :is_default, :disabled => 'disabled' %>
  <p>
    <%= f.submit "upload" %>
  </p>
<% end %>

<%= link_to t('back'), admin_themes_path %>