<h1><%= t('.title') %></h1>

<%= form_for @category, :url => admin_categories_path  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit t('add') %>
<% end %>

<%= link_to t('back'), admin_categories_path %>
