<!--div class="action-zone bar">
  <div class="wrap clear">
    <h2>My confirmation instructions got lost...</h2>
    <form action="<%= confirmation_path(resource_name) %>" method="post">
      <input name="authenticity_token" type="hidden" value="<%= protect_against_forgery? ? form_authenticity_token : '' %>" />
      
      <fieldset>
        <div class="stack column one of-four">
          <label for="user_<%= :email %>">Email <abbr class="required" title="required">*</abbr></label>
          <input maxlength="255" id="user_<%= :email %>" name="user[<%= :email %>]" type="text" required="required" autocomplete="on" autofocus="on" placeholder="stelio@webdoc.com" />
        </div>
      </fieldset>
      
      <input id="user_submit" name="commit" type="submit" value="Resend">
    </form>
  </div>
</div-->

<div class="action-zone zone">
  <div class="wrap clear">
    <h2>My confirmation instructions got lost...</h2>
    <% form_for resource_name, resource, :url => confirmation_path(resource_name), :builder => CustomFormBuilder do |f| %>
      <fieldset>
        <div class="stack column one of-four <% if resource.errors.on(:email) %>error<% end %>">
          <%= f.label :email, 'Email <abbr class="required" title="required">*</abbr>' %>
          <%= f.text_field :email, :maxlength => 255, :required => "required", :autocomplete => "on", :autofocus => "on", :placeholder => "stelio@webdoc.com" %>
        </div>
      </fieldset>
      
      <input id="user_submit" name="commit" type="submit" value="Resend" />
    <% end %>  
  </div>
</div>

<div class="content">
  <div class="wrap clear">
  </div>
</div>