<div class='media-browser-wrap layer' style='display:none'>
  <div id="media-browser-header" class=''>
    <ul class='tab_navigation'>
      <li>
        <a href='#media-browser-home', title='Show Media Browser Home'>
          Home
        </a>
      </li>
      <li>
        <a href='#media-browser-web', title='Search On Web Service'>
          Web
        </a>
      </li>
      <li>
        <a href='#media-browser-packages', title='Show your packages'>
          Packages
        </a>
      </li>
      <li>
        <a href='#media-browser-apps', title='Browse Apps'>
          Apps
        </a>
      </li>
      <li>
        <a href='#media-browser-my-content', title='Show My Content'>
          My content
        </a>
      </li>
    </ul>
  </div>
  <div id="media-browser-content">
    <div id="media-browser-my-content" class='media-browser-tab' style='display:none'>
      <%= render 'users/my_content_header'%>
      <div id="media-browser-my-images" class='my-content-tab '>
        <a href='#upload-images' class=''>
          <%= t('.images.add_image') %>
        </a>
        <div id="my-images-library" class='thumbnails'>

        </div>
      </div>

      <div id="media-browser-my-images-details" style='display:none' class='my-content-tab'>
        <a href='#my-images' id='image-detail-back' class='back'>Back</a>
        <div id="image-details">
          <div class='single_image'>
            <a href='' onclick="window.open(this.getAttribute('href'), '_blank'); return false;">
              <img src='' alt='' />
              <div class='icon_overlay'></div>
            </a>
          </div>
          <h4 class="image_name"></h4>
          <h5 class="image_size"></h5>
          <div class="actions">
            <ul>
              <li>
                <a id="add_image_to_page_action" href="">Add to page</a>
              </li>
              <li>
                <a id="set_image_as_bg_action" href="">Set as background</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="media-browser-my-favorites-videos-details" class="my-content-tab" style="display:none;">
        <a href='#my-favorites' id='' class='back'><%= t('.buttons.back') %></a>
        <div id="video-details">
          <h4 class="video_name"></h4>
          <div class="single_video">
            <div class="drag_handle" draggable="true"><%= t('.videos.detail_view.drag_handle') %></div>
          </div>
          <h5 class="view_count">
            <span></span>
            views
          </h5>
          <p class="video_description"></p>
          <div class="actions">
            <ul>
              <li>
                <a id="add_video_to_page_action" href=""><%= t('.videos.detail_view.add_to_page') %></a>
              </li>
              <li>
                <a id="show_video_page_action" href=""><%= t('.videos.detail_view.show_on') %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="media-browser-upload-images" style='display:none' class='my-content-tab'>
        <div id="swfupload_container" style='display:none'>
          <input id='upload_images_button' type='button' value="Choose images" />
        </div>

        <h1><%= t('.images.add_images_view.title') %></h1>
        <div id="upload_control">
          <span id='upload_images_button_background' class='button'><%= t('.images.buttons.upload') %></span>
          <button id='cancel_images_upload' class='button' style='display:none'><%= t('.images.buttons.cancel_upload') %></button>
          <div id="upload_images_spinner" style='display:none'></div>
          <span class='uploading_info'><%= t('.images.add_images_view.choose_upload_image') %> </span>
          <a href='#my-images'><%= t('.buttons.back') %></a>
        </div>
      </div>
    </div>
    <div id="media-browser-home" class='media-browser-tab'>
      <%= render 'media_browser/most_used_apps' %>
      <%= render 'media_browser/packages_we_recommand' %>
    </div>
    
    <div id="media-browser-apps" class='media-browser-tab' style='display:none'>
      <div id="apps-list" class='app-tab' >
        <div class='thumbnails'>

        </div>
      </div>
      <div id="app_details" style='display:none' class='app-tab'>
        <a href='#apps-list' id='media-browser-app-details-back' class='back'>Back</a>
        <h4 class='app_title'></h4>
        <div class='single_app'>
          <img alt='' />
          <h5 class='app_version'></h5>
          <div class='actions'>
            <ul>
              <li>
                <a id='add_app_to_page_action' href=''>
                  <%= t('.apps.detail_view.add_to_page') %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="media-browser-web" style="display:none" class='media-browser-tab'>
      <div id="media-browser-web-header">
        <ul class='tab_navigation'>
          <li>
            <a href='#search_images' title='Search images'> <%= t('.images.web_detail')%></a>
            <a href='#search_videos' title='Search videos'> <%= t('.videos.web_detail')%></a>
          </li>
        </ul>
      </div>
      
      <div id="web-images" class='web_media web-search-tab'>
        <form>
          <div>
            <label for='web_images_search_field'> <%= t('.images.web_detail') %>  </label>
            <input type='text' id='web_images_search_field' class='web_media_search_field' />
            <input type='submit' value='<%= t('.buttons.search') %>' id='web_images_search_submit' class='web_media_search_submit' />
          </div>
        </form>
        <div id="flickr_images" class='thumbnails'>
          <h3 class='service_bar'><%= t('.images.services.flickr')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
        <div id="google_images" class='thumbnails'>
          <h3 class='service_bar'><%= t('.images.services.google')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
      </div>
      
      <div id="web-videos" class='web_media web-search-tab' style='display:none'>
        <form>
          <div>
            <label for='web_videos_search_field'> <%= t('.videos.web_detail') %>  </label>
            <input type='text' id='web_videos_search_field' class='web_media_search_field' />
            <input type='submit' value='<%= t('.buttons.search') %>' id='web_videos_search_submit' class='web_media_search_submit' />
          </div>
        </form>
        <div id="youtube_videos" class='rows'>
          <h3 class='service_bar'><%= t('.videos.services.youtube')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
        <div id="vimeo_videos" class='rows'>
          <h3 class='service_bar'><%= t('.videos.services.vimeo')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
      </div>
      
      <div id="media-browser-web-images-details" style='display:none' class='web-search-tab view details_view'>
        <a href='#search_images' id='web-image-detail-back' class='back'>Back</a>
        <div id="image-details">
          <div class='single_image'>
            <a href='' onclick="window.open(this.getAttribute('href'), '_blank'); return false;">
              <img  alt='' />
              <div class='icon_overlay'></div>
            </a>
          </div>
          <h4 class="image_name">image name</h4>
          <h5 class="image_size"></h5>
          <div class="actions">
            <ul>
              <li>
                <a id="add_image_to_page_action" href="">Add to page</a>
              </li>
              <li>
                <a id="set_image_as_bg_action" href="">Set as background</a>
              </li>
              <li>
                <a id="add_image_to_favorite" href="">Add to favorites</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="media-browser-web-video-details" class="web-search-tab" style="display:none;">
        <a href='#search_videos' id='web-video-details-back' class='back'><%= t('.buttons.back') %></a>
        <div class="view_content">
          <h4 class="video_name"></h4>
          <div class="single_video">
            <div class="drag_handle" draggable="true"><%= t('.videos.detail_view.drag_handle') %></div>
          </div>
          <h5 class="view_count">
            <span></span>
            views
          </h5>
          <p class="video_description"></p>
          <div class="actions">
            <ul>
              <li>
                <a id="add_video_to_page_action" href=""><%= t('.videos.detail_view.add_to_page') %></a>
              </li>
              <li>
                <a id="show_web_video_page_action" href=""><%= t('.videos.detail_view.show_on') %></a>
              </li>
              <li>
                <a id="add_video_to_favorites" href="">Add to favorites</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="media-browser-packages" class="view media-browser-tab" style="display: block; left: 0px;">
      <div id="theme_elements_content" class="tab_content">
        <div class="view_content">
          <iframe width="100%" height="100%" src="" class="layer">#theme_elements_iframe</iframe>
        </div>
      </div>
    </div>
  </div>
</div>