<div class='media-browser-wrap layer' style='display:none'>
  <div id="media-browser-header" class=''>
    <ul class='tab_navigation'>
      <li>
        <a href='#media-browser-home', title='Show Media Browser Home'>
          Home
        </a>
      </li>
      <li>
        <a href='#media-browser-web', title='Search On Web Service'>
          Web
        </a>
      </li>
      <li>
        <a href='#media-browser-packages', title='Show your packages'>
          Packages
        </a>
      </li>
      <li>
        <a href='#media-browser-apps', title='Browse Apps'>
          Apps
        </a>
      </li>
      <li>
        <a href='#media-browser-my-content', title='Show My Content'>
          My content
        </a>
      </li>
    </ul>
  </div>
  <div id="media-browser-content">
    <div id="media-browser-home" class='media-browser-tab'>
      <h2>Most used apps</h2>
      <h2>Packages we recommand</h2>
    </div>
    
    <div id="media-browser-apps" class='media-browser-tab' style='display:none'>
      <div id="my-apps" class='app-tab' >
        <div class='thumbnails'>

        </div>
      </div>
      <div id="app_details" style='display:none' class='app-tab'>
        <a href='#my-apps' id='media-browser-app-details-back' class='back'>Back</a>
        <h4 class='app_title'></h4>
        <div class='single_app'>
          <a href=''>
            <img alt='' />
          </a>
          <h5 class='app_version'></h5>
          <div class='actions'>
            <ul>
              <li>
                <a id='add_app_to_page_action' href=''>
                  <%= t('.apps.detail_view.add_to_page') %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="media-browser-web" style="display:none" class='media-browser-tab'>
      <div id="media-browser-web-header">
        <ul class='tab_navigation'>
          <li>
            <a href='#search_images' title='Search images'> <%= t('.images.web_detail')%></a>
            <a href='#search_videos' title='Search videos'> <%= t('.videos.web_detail')%></a>
          </li>
        </ul>
      </div>
      
      <div id="web-images" class='web_media web-search-tab'>
        <form>
          <div>
            <label for='web_images_search_field'> <%= t('.images.web_detail') %>  </label>
            <input type='text' id='web_images_search_field' class='web_media_search_field' />
            <input type='submit' value='<%= t('.buttons.search') %>' id='web_images_search_submit' class='web_media_search_submit' />
          </div>
        </form>
        <div id="flickr_images" class='thumbnails'>
          <h3 class='service_bar'><%= t('.images.services.flickr')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
        <div id="google_images" class='thumbnails'>
          <h3 class='service_bar'><%= t('.images.services.google')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
      </div>
      
      <div id="web-videos" class='web_media web-search-tab' style='display:none'>
        <form>
          <div>
            <label for='web_videos_search_field'> <%= t('.videos.web_detail') %>  </label>
            <input type='text' id='web_videos_search_field' class='web_media_search_field' />
            <input type='submit' value='<%= t('.buttons.search') %>' id='web_videos_search_submit' class='web_media_search_submit' />
          </div>
        </form>
        <div id="youtube_videos" class='rows'>
          <h3 class='service_bar'><%= t('.videos.services.youtube')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
        <div id="vimeo_videos" class='rows'>
          <h3 class='service_bar'><%= t('.videos.services.vimeo')%>
            <span class='results_number'> 0 </span>
          </h3>
        </div>
      </div>
      
      <div id="media-browser-web-images-details" style='display:none' class='web-search-tab view details_view'>
        <a href='#search_images' id='web-image-detail-back' class='back'>Back</a>
        <div id="image-details">
          <div class='single_image'>
            <a href='' onclick="window.open(this.getAttribute('href'), '_blank'); return false;">
              <img  alt='' />
              <div class='icon_overlay'></div>
            </a>
          </div>
          <h4 class="image_name">image name</h4>
          <h5 class="image_size"></h5>
          <div class="actions">
            <ul>
              <li>
                <a id="add_image_to_page_action" href="">Add to page</a>
              </li>
              <li>
                <a id="set_image_as_bg_action" href="">Set as background</a>
              </li>
              <li>
                <a id="add_image_to_favorite" href="">Add to favorites</a>
              </li>
              <li>
                <a id="remove_image_from_favorite" href="">remove from favorites</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="media-browser-web-video-details" class="web-search-tab" style="display:none;">
        <a href='#search_videos' id='web-video-details-back' class='back'><%= t('.buttons.back') %></a>
        <div class="view_content">
          <h4 class="video_name"></h4>
          <div class="single_video">
            <div class="drag_handle" draggable="true"><%= t('.videos.detail_view.drag_handle') %></div>
          </div>
          <h5 class="view_count">
            <span></span>
            views
          </h5>
          <p class="video_description"></p>
          <div class="actions">
            <ul>
              <li>
                <a id="add_video_to_page_action" href=""><%= t('.videos.detail_view.add_to_page') %></a>
              </li>
              <li>
                <a id="show_video_page_action" href=""><%= t('.videos.detail_view.show_on') %></a>
              </li>
              <li>
                <a id="remove_video_from_favorites" href="">Remove from favorites</a>
              </li>
              <li>
                <a id="add_video_to_favorites" href="">Add to favorites</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>