<!DOCTYPE html>
%html
  %head
    %title= "webdoc Test Suite"
    = stylesheet_link_tag 'qunit'
    = include_javascripts :common
    = include_javascripts :page_editor
    = javascript_include_tag 'qunit'
    = javascript_include_tag 'qmock'        

  %body
    %h1#qunit-header= "webdoc Test Suite"
    %h2#qunit-banner
    #qunit-testrunner-toolbar
    %h2#qunit-userAgent
    %ol#qunit-tests
  = include_javascripts :tests
