<%= include_stylesheets :page_viewer, :media => 'all' %>
<ul id="webdoc" class="webdoc-viewer-index index" >
  <% documents.each do |document| %>
    <li>
      <ul class="viewer-controls-index index">
        <li class="button-group">
          <a href="#prev-page" class="button" data-webdoc-document-id="<%= document.uuid() %>" title="previous page">&lt;</a
          ><a href="#next-page" class="button" data-webdoc-document-id="<%= document.uuid() %>" title="next page">&gt;</a>
        </li>
        <li>
          <a class="webdoc-viewer-title" href="<%= document_path(document.uuid()) %>"><h4><%= h(document.title) %></h4></a>
        </li>
      </ul>

      <div class="webdoc-viewer-container" data-webdoc-document-id="<%= document.uuid() %>" id="<%= document.uuid() %>"></div>

      <p class="webdoc-viewer-details">
        <%= t("phrases.Created_by")%> <%= document.creator.first_name %>
        <% if ((params[:main_filter] && params[:main_filter] == "viewed")) %>
           viewed <%= document.views_count %> times
        <% else %>
          <%= relative_date document.created_at %>
        <% end %>
        <% if ((!params[:category_filter] || params[:category_filter] == "all") &&  document.category) %>
            in <%= link_to h(document.category.name), explore_path(:main_filter => params[:main_filter], :category_filter => document.category.id) %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>
