<div class="action-zone zone">
  <div class="wrap">
    <h2>Explore</h2>
    <p>Show the
      <select id="wd-main-filter">
        <option value="recent" <%= "selected=\"true\"" if params[:main_filter] == "recent" %>><%= t("phrases.most_recent")%></option>
        <option value="viewed" <%= "selected=\"true\"" if params[:main_filter] == "viewed" %>><%= t("phrases.most_popular")%></option>
      </select>
      webdocs in the category
      <select id="wd-category-filter">
        <option value="all" <%= "selected=\"true\"" if params[:category_filter] == "all" %>><%= t("words.all")%></option>
        <% Category.all.each do |category|%>
          <option value="<%= category.id %>" <%= "selected=\"true\"" if params[:category_filter] == category.id.to_s %>><%= "#{category.name} (#{category.number_of_public_documents})" %></option>  
        <% end %>        
      </select>
    </p>
  </div>
</div>
<div class="content">
  <div class="wrap">
    <%= render :partial => "viewer_list", :locals => { :documents => @public_documents } %>
    <%= raw( will_paginate(@public_documents, :container => false) ) %>
  </div>
</div>