<div class="action-zone zone">
  <div class="wrap">
    <%= will_paginate @public_documents %>
  </div>
</div>
<div class="content">
  <div id="webdoc" class="wrap" style="font-size:133%">
    <div>
      Show the most 
      <select id="wd-main-filter">
        <option value="recent" <%= "selected=\"true\"" if params[:main_filter] == "recent" %>><%= t(".select.main_filter.recent")%></option>
        <option value="viewed" <%= "selected=\"true\"" if params[:main_filter] == "viewed" %>><%= t(".select.main_filter.viewed")%></option>  
      </select>
      webdocs in
      <select id="wd-category-filter">
        <option value="all" <%= "selected=\"true\"" if params[:category_filter] == "all" %>><%= t(".select.category.all")%></option>
        <% Category.all.each do |category|%>
          <option value="<%= category.id %>" <%= "selected=\"true\"" if params[:category_filter] == category.id.to_s %>><%= t(".select.category_filter.#{category.name}") %></option>  
        <% end %>        
      </select>
      categories
    </div>
    <ul class="index">
      <% @public_documents.each do |document| %>
        <li>
          <div class="webdoc-viewer-container" id="<%= document.uuid() %>"></div>
        </li>      
      <% end %>
    </ul>
  </div>
</div>
<%= include_stylesheets :page_viewer, :media => 'all' %>      
<% content_for :scripts do %>
  <%= include_javascripts :page_editor %>
  <%= include_javascripts :explore %>

   <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('#wd-main-filter').change(function(){
        window.location.href = "/explore?main_filter="+jQuery(this).val()+"&category_filter="+jQuery('#wd-category-filter').val();
      });
      jQuery('#wd-category-filter').change(function(){
        window.location.href = "/explore?main_filter="+jQuery("#wd-main-filter").val()+"&category_filter="+jQuery(this).val();
      });
    });
  </script>

<% end %>



