<div class="action-zone zone">
  <div class="wrap">
    <%= will_paginate @public_documents %>
  </div>
</div>
<div class="content">
  <div id="webdoc" class="wrap" style="font-size:133%">
    <ul class="index">
      <% @public_documents.each do |document| %>
        <li>
          <div class="webdoc-viewer-container" id="<%= document.uuid() %>"></div>
        </li>      
      <% end %>
    </ul>
  </div>
</div>
<%= include_stylesheets :page_viewer, :media => 'all' %>      
<% content_for :scripts do %>
  <%= include_javascripts :mtools %>
  <%= include_javascripts :page_editor %>
  <% javascript_tag  do %>  
    var WebDoc;
    if (!WebDoc) {
      WebDoc = {};
    }
    WebDoc.authData = {
      authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
      sessionKeyName:"#{session_key_name}",
      cookiesSessionKeyName:"#{cookies[session_key_name]}"
    };
    WebDoc.run = function() {
      WebDoc.WebdocViewer.showViewers();
    }
  <% end -%>
<% end %>
      
