<div class="action-zone zone">
  <div class="wrap">
    <%= will_paginate @public_documents %>
  </div>
</div>
<div class="content">
  <div id="webdoc" class="wrap" style="font-size:133%">
    <div>
      Show the most 
      <select id="wd-main-filter">
        <option value="recent" <%= "selected=\"true\"" if params[:main_filter] == "recent" %>><%= t(".select.main_filter.recent")%></option>
        <option value="viewed" <%= "selected=\"true\"" if params[:main_filter] == "viewed" %>><%= t(".select.main_filter.viewed")%></option>  
      </select>
      webdocs in
      <select id="wd-category-filter">
        <option value="all" <%= "selected=\"true\"" if params[:category_filter] == "all" %>><%= t(".select.category.all")%></option>
        <% Category.all.each do |category|%>
          <option value="<%= category.id %>" <%= "selected=\"true\"" if params[:category_filter] == category.id.to_s %>><%= t(".select.category_filter.#{category.name}") %></option>  
        <% end %>        
      </select>
      categories
    </div>
    <ul class="index">
      <% @public_documents.each do |document| %>
        <li>
          <div>
            <div><%= link_to h(document.title), document_path(document.uuid()) %></div>
            <div><%= link_to h(document.category.name), explore_path(:main_filter => params[:main_filter], :category_filter => document.category.id) %></div>

            <div>
              <ul>
                <li>
                  <a href="#prev-page" data-webdoc-document-id="<%= document.uuid() %>">prev page</a>
                </li>
                <li>
                  <a href="#next-page" data-webdoc-document-id="<%= document.uuid() %>">next page</a>
                </li>
              </ul>
            </div>

            <div class="webdoc-viewer-container" id="<%= document.uuid() %>"></div>
            
            <div><%= relative_date document.created_at %></div>
            <div><%=h document.creator.first_name %></div>
          </div>
        </li>      
      <% end %>
    </ul>
  </div>
</div>


<%= include_stylesheets :page_viewer, :media => 'all' %>      
<% content_for :scripts do %>
  <%= include_javascripts :page_editor %>
  <%= include_javascripts :explore %>
<% end %>



