%header
  %div.clear.wrap
    %a{ :href => "/" }
      %h1.logo webdoc
    
    %ul.userbar.divided.index      
      %li>
        = link_to "explore", explore_path, { :class => "item" }
      - if user_signed_in?
        %li>
          = link_to "contacts", followships_path, { :class => "item" }
        %li>
          %span.user-email.item= current_user.email
        %li>
          = link_to "edit", edit_user_path(current_user), { :class => "user-edit item" }
        %li>
          = link_to "logout", destroy_user_session_path, { :class => "user-logout item" }
      - else
        - if controller_name != 'home'
          %li>= link_to t('devise.sessions.link'), root_path
        - if controller_name != 'registrations'
          %li>= link_to t('devise.registrations.link'), new_registration_path(:user), :class => "sign-up button"
    
    = render "layouts/flash", :object => flash