#titlebar.titlebar-panel.panel{ :style => "display:#{params[:reader] ? 'none' : ''}"}
  %h1
    %img{ :src => "/images/logo.png", :alt =>"WebDoc logo"}
    
  %ul#tb_1_utilities
    %li#tb_1_utilities_preview.toggle_preview
      %a{ :href => "#mode-toggle"}
        = t('.quick_preview')
    %li#tb_1_utilities_docname
      %h2#tb_1_document_title=@document.title
      %span#current_page 3
      %span#separation /
      %span#total_page 25
    %li#tb_1_utilities_settings
      %a#tb_1_utilities_settings_trigger{ :href => "#"}
        %img{ :src => "/images/icons/settings.png", :alt => "Document settings"}
      %ul#tb_1_utilities_settings_dropdown
        %li.action_button
          %a{ :href => "#"}= t('.save')
        %li.action_button
          %a{ :href => "#"}= t('.presentation_mode')
        %li.action_button
          %a{ :href => "#"}= t('.invite_collaborators')
        %li.action_button
          %a{ :href => "#"}= t('.import')
        %li.action_button
          %a{ :href => "#"}= t('.publish')
        %li.action_button
          %a{ :href => "#"}= t('.extend_uniboard')
        %li.action_button
          %a{ :href => "#"}= t('.export')
        %li.action_button
          %a{ :href => "#"}= t('.print')
        %li#develop_sub_menu 
          %a{ :href => "#"}= t('.develop')
          %ul
            %li.action_button
              %a#debug-button{ :href => "#disable-html"}= t('.disable_HTML')
