<header class="header">
  <div class="site_wrap wrap">
    <a href="/">
      <h2 class="logo_thumb thumb">webdoc</h2>
    </a>
    <% if user_signed_in? %>
    <ul class="horizontal sitenav_index index">
      <li><a href="/" <% if params[:controller]=='documents' && params[:action]=='index' %>class="current"<% end %>>home</a></li
     ><li><a href="/documents/featured" <% if params[:controller]=='documents' && params[:action]=='featured' %>class="current"<% end %>>featured</a></li
     ><li><a href="/documents/explore" <% if params[:controller]=='documents' && params[:action]=='explore' %>class="current"<% end %>>explore</a></li>
    </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <h5 class="user"><%= current_user.email %></h5>
      <ul class="horizontal divided usernav_index index">
        <li>
          <%= link_to "your contacts", friendships_path, { :class => "item #{params[:controller]=='friendships' ? 'current' : '' }" } %>
        </li
        ><li>
          <%= link_to "edit your profile", edit_registration_path(:user), { :class => "user-edit item #{params[:controller]=='users' ? 'users' : '' }" } %>
        </li
        ><li>
          <%= link_to "logout", destroy_user_session_path, { :class => "user-logout item" } %>
        </li>
      </ul>
    <% else %>
      <ul class="horizontal divided usernav_index index">
        <li><%= link_to "login", root_path %></li
       ><li><%= link_to "sign up", new_registration_path(:user) %></li
       ><li><%= link_to "sign up/in with Facebook", user_oauth_authorize_url(:facebook) %></li>
      </ul>
    <% end %>
  </div>
</header>