<!DOCTYPE html>
%html( xmlns="http://www.w3.org/1999/xhtml" )
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "application/xhtml+xml; charset=utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title= "webdoc - alpha #{yield(:title)}"
    = include_stylesheets :common, :media => 'all'
    = include_stylesheets :application, :media => 'all'
    
  %body{ :class => controller_name }
    = render :partial => "layouts/main_toolbar"
    = yield
    = include_javascripts :common
    :javascript
      var WebDoc;
      $(function() {
        var flash = $('#flash');
        
        // TODO: put this somewhere more sensible
        flash
        .delay(3000)
        .animate({
          opacity: 0,
          marginTop: -flash.height()
        }, {
          duration: 3000,
          easing: 'easeInCubic'
        });
        
        // start application if it exists
        if (WebDoc && WebDoc.run) {
          WebDoc.run();
        }
      });
    = yield :scripts
    = render :partial => "layouts/googleAnalytics"