<!DOCTYPE html>

<% session_key_name = Rails.application.config.session_options[:key] %>

<html xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="application/xhtml+xml; charset=utf-8" http-equiv="Content-Type">
    <meta content="chrome=1" http-equiv="X-UA-Compatible">

    <title>Webdoc beta - <%= yield :title %></title>
    <%= include_stylesheets :common, :media => 'all' %>
    <%= include_css_assets %>
    <%= csrf_meta_tag %>
    <%= render "layouts/google_analytics" %>    
  </head>

  <body>

    <!-- site content -->

    <%= yield %>
    
    <!-- site template -->
    
    <%= render "layouts/siteheader" %>
    <%= render "layouts/flash", :object => flash %>
    <%= render "layouts/feedback" %>

    <!-- scripts -->
    <%= include_javascripts :common %>

    <%= include_js_assets %>

    <% if false %><!-- TODO really needed? -->
      <% unless Rails.env.production? %>
        <%= javascript_include_tag "#{APP_CONFIG['shindig_server_base']}js/core:rpc:pubsub.js?c=1&debug=1" %>
      <% end %>
    <% end %>

    <%= yield :scripts %>
    
    <script>
      WebDoc.authData = {
        authToken:"<%= protect_against_forgery? ? form_authenticity_token : '' %>",
        sessionKeyName:"<%= session_key_name %>",
        cookiesSessionKeyName:"<%= cookies[session_key_name] %>"
      };

      WebDoc.dataServer = "<%= APP_CONFIG['data_server'] %>"; // TODO really needed?

      <% if false %>
        WebDoc.shindig = {};
        WebDoc.shindig.serverBase = "<%= APP_CONFIG['shindig_server_base'] %>";
      <% end %>

      <% current_user_json = current_user.present? ? raw(current_user.as_application_json.to_json.gsub('/script','/sscript')) : {}.to_json %>

      WebDoc.Application.currentUser = new WebDoc.User(<%= current_user_json %>);

       WebDoc.Application.start();

       jQuery(document).ready(function() {
         jQuery('time').cuteTime();
       });
    </script>

  </body>
</html>
