<!DOCTYPE html>
%html( xmlns="http://www.w3.org/1999/xhtml" )
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "application/xhtml+xml; charset=utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title= "webdoc - alpha #{yield(:title)}"
    = include_stylesheets :common, :media => 'all'
    = include_stylesheets :application, :media => 'all'
    
  %body{ :class => controller_name }
    = render :partial => "layouts/main_toolbar"
    = yield
    = render "layouts/flash", :object => flash
    
    = include_javascripts :common
    = include_javascripts :mtools
    = yield :scripts # include view specific scripts after common scripts.
    :javascript
      var MTools;
      if (MTools) {    
        MTools.Application.start();
      }
      var WebDoc;
      if (!WebDoc) {
        WebDoc = {};
      }
      WebDoc.shindig = {};
      WebDoc.shindig.serverBase = "#{ APP_CONFIG['shindig_server_base'] }";
    = render :partial => "layouts/feedback";
    = render :partial => "layouts/google_analytics"