<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8" />
    <title>MyUniboard</title>
  <%= stylesheet_link_tag 'default' %>
</head>
<body>
  <div id="ub-bar">
    <% if !@document_page %>
    <div id="home"><%= link_to "Documents", documents_path %></div>
    <% else %>
    <div id="home"><b>Documents</b></div>
    <% end %>
    <div id="ub-login-logout"><%= current_user ? current_user.email : '' %> <%= current_user ? link_to("logout", session_path, :method => :delete) :  link_to("login", new_session_url) %> </div>
    <p style="color: green"><%= flash[:notice] %></p>    
  </div>


<%= yield %>

</body>
</html>