%html( xmlns:ub="#{XML_UNIBOARD_DOCUMENT_NAMESPACE}" xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" )
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "application/xhtml+xml; charset=utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title= "webdoc (#{I18n.locale}) - #{yield(:title)}"
    = include_stylesheets :common, :media => 'all'
    = include_stylesheets :document_editor, :media => 'all'

  %body
    #wrap
      = render :partial => "layouts/main_toolbar"    
      = yield
    = include_javascripts :common
    = include_javascripts :mtools    
    = include_javascripts :document_editor      
    :javascript      
      $(function()
      {
        WebDoc.run();
      });        
    = render :partial => "layouts/googleAnalytics"