- document_title @document.title
- session_key_name = ActionController::Base.session_options[:key]
<!DOCTYPE html>
%html( xmlns:ub="#{XML_UNIBOARD_DOCUMENT_NAMESPACE}" xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" )
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "application/xhtml+xml; charset=utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title= "webdoc - alpha - #{yield(:title)}"
    = include_stylesheets :common, :media => 'all'
    = include_stylesheets :page_editor, :media => 'all'    
    = include_javascripts :common
    
  -if params[:reader] == 'true'
    -current_class = 'editor mode-embed'
  -elsif edit_mode?
    -current_class = 'editor mode-edit'
  -else
    -current_class = 'editor mode-preview'
       
  %body{ :class => current_class}
    = yield
    = include_javascripts :mtools
    = include_javascripts :page_editor
    = yield :scripts
    :javascript  
      var WebDoc;
      if (!WebDoc) {
        WebDoc = {};
      }
      WebDoc.authData = {
        authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
        sessionKeyName:"#{session_key_name}",
        cookiesSessionKeyName:"#{cookies[session_key_name]}"
      };
      MTools.Application.main(function() {
        var editor = new WebDoc.PageEditor(#{edit_mode?});
        editor.load("#{@document.uuid}");
      });      
      MTools.Application.start();
    
    = render :partial => "layouts/google_analytics"
