!!! 5
%html( xmlns:ub="#{XML_UNIBOARD_DOCUMENT_NAMESPACE}" xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" )
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "application/xhtml+xml; charset=utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title= "webdoc - alpha - #{yield(:title)}"
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'jquery-ui-1.7.2.custom'       
    = stylesheet_link_tag 'library'
    = stylesheet_link_tag 'lib/protect'
    = stylesheet_link_tag 'lib/states'
    = stylesheet_link_tag 'lib/forms'
    = stylesheet_link_tag 'lib/index'
    = stylesheet_link_tag 'lib/layer'
    = stylesheet_link_tag 'lib/panel'

    %link{ :rel => "stylesheet", :href => "/fonts/Aaargh-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Adler-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/CalligraphyFLF-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Colaborate-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Creampuff-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Droid-Sans-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/ElliotSix-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/GoodDog-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Impact-Label-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Inconsolata-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/JungleFever-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Komika-Title-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/League-Gothic-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Mirisch-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/MomsTypewriter-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/MonospaceTypewriter-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Playtime-With-Hot-Toddies-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/SF-Cartoonist-Hand-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Shardee-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/fonts/Underwood-Champion-fontfacekit/stylesheet.css", :type => "text/css", :charset => "utf-8" }

    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'style.editor'
    = stylesheet_link_tag 'style.editor.colors'
    = stylesheet_link_tag 'colorpicker'
    = stylesheet_link_tag 'toolbar'
    
    -if (@is_reader)  
      %body.editor.embed-mode
    -else
      %body.editor.edit-mode
    = yield
    = javascript_include_tag 'jquery'      
    = javascript_include_tag 'jquery-json'
    = javascript_include_tag 'jquery-string'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag 'colorpicker'    
    
    = javascript_include_tag 'jquery.extensions'
    = javascript_include_tag 'jquery.events'
    = javascript_include_tag 'jquery.panel'
    
    = javascript_include_tag 'klass'
    = javascript_include_tag '../swfupload/swfupload.js'
    = javascript_include_tag 'jquery-swfupload'
    = javascript_include_tag 'sylvester'
    = javascript_include_tag 'strophe'
    = javascript_include_tag 'jquery.form'
    
    = sprockets_include_tag
    :javascript
      
      $(function()
      {
        WebDoc.run();
      });    
    
    = render :partial => "layouts/googleAnalytics"