- document_title @document.title
- session_key_name = ActionController::Base.session_options[:key]
<!DOCTYPE html>
%html( xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" )
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "application/xhtml+xml; charset=utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title= "webdoc - alpha - #{yield(:title)}"
    = include_stylesheets :common, :media => 'all'
    = include_stylesheets :page_editor, :media => 'all'    
    
    <link id="theme" rel="stylesheet" href="" type="text/css">
    
  -if params[:reader] == 'true'
    -current_class = 'editor mode-embed'
  -elsif params[:edit] == 'true'
    -current_class = 'editor mode-edit'
  -else
    -current_class = 'editor mode-preview'
       
  %body{ :class => current_class}
    = yield
    = include_javascripts :common
    = include_javascripts :page_editor
    - if !Rails.env.production?
      = javascript_include_tag "#{APP_CONFIG['shindig_server_base']}/js/core:rpc:pubsub:shindig-container.js?c=1&debug=1"
    = yield :scripts
    :javascript  
      WebDoc.authData = {
        authToken:"#{protect_against_forgery? ? form_authenticity_token : ''}",
        sessionKeyName:"#{session_key_name}",
        cookiesSessionKeyName:"#{cookies[session_key_name]}"
      };
      WebDoc.shindig = {};
      WebDoc.shindig.serverBase = "#{ APP_CONFIG['shindig_server_base'] }";
      
      WebDoc.Application.main(function() {
        var editor = new WebDoc.PageEditor();
        editor.load("#{@document.uuid}",#{edit_mode?});
      });      
      WebDoc.Application.start();
    = render :partial => "layouts/feedback";
    = render :partial => "layouts/google_analytics"
    
    -#<script src="/local/start.js"></script>