%html( xmlns:ub="#{XML_UNIBOARD_DOCUMENT_NAMESPACE}" xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" )
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "application/xhtml+xml; charset=utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %title= "webdoc - alpha - #{yield(:title)}"
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'jquery-ui-1.7.2.custom'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'style.external'

  %body
    #login_page
      %h1
        %img{ :src => "/images/logo_xl.png", :alt =>"WebDoc logo"}
      = render "layouts/flash", :object => flash
      #login_box
        %h2= yield(:external_box_title)
        = yield
  = render :partial => "layouts/googleAnalytics"