<!-- this layout is used for google robot to index page there isn't any JS -->
<!DOCTYPE html>
<html xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='application/xhtml+xml; charset=utf-8' http-equiv='Content-Type' />
    <meta content='chrome=1' http-equiv='X-UA-Compatible' />
    <meta content="<%= yield :description %>" name='description' />
    <title> <%= "webdoc - alpha - #{yield :title}"%> </title>
    <%= include_stylesheets :common, :media => 'all' %>
    <%= include_stylesheets :page_editor, :media => 'all' %>
  </head>
  <body>
    <div class='layer' >
      <div class='center'>
        <div class='center-cell'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>